<extend name="Public/header" />

<block name="content">
    <title>SEO优化-后台系统管理首页</title>

    <div class="layui-tab">

        <ul class="layui-tab-title">
            <li class="layui-this">添加SEO信息</li>
        </ul>

        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form" onsubmit="return false">

                    <div class="layui-form-item div-none">
                        <label class="layui-form-label">ID</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入网页标题" class="layui-input id" value="{$id}" >
                        </div>
                    </div>

                    <div class="layui-form-item div-none">
                        <label class="layui-form-label">key</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入网页标题" class="layui-input key" value="{$key}" >
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">title</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入网页标题"  class="layui-input title" value="{$title}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">keywords</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入关键字,使用逗号隔开 ' , '"  class="layui-input keywords" value="{$keywords}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">description</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入网页描述,使用逗号隔开 ' , '"  class="layui-input description" value="{$description}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn btn-sumit">保存</button>
                        </div>
                    </div>

                </form>

                <script>

                    // 点击提交
                    $('.btn-sumit').click(function () {

                        var getArr = ['id','key','title','keywords','description'];

                        var getList = getClassValArr(getArr,['id']);

                        if (!getList){
                            return false;
                        }

                        var saveStr = getList.join(";");

                        var url = "{:U('Post/Seo')}";

                        $.post(
                            url,
                            {
                                'dataStr':saveStr
                            },function (data) {

                                if (data.code == 0){
                                    layer.msg(data.message+'2秒后,刷新页面');
                                    webReload();
                                }else{
                                    layer.msg(data.message);
                                }

                            },'JSON'
                        )
                    });


                </script>

            </div>

        </div>

    </div>


</block>