<extend name="Public/header" />

<block name="content">
    <title>后台系统管理首页</title>

    <style>

        .layui-input, .layui-textarea {
            width: 100%;
        }

    </style>

    <div class="layui-tab">

        <ul class="layui-tab-title">
            <li class="layui-this">添加SEO信息</li>
        </ul>

        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form" onsubmit="return false">

                    <div class="layui-form-item div-none">
                        <label class="layui-form-label">标识</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入网页标题"  value="{$key}" class="layui-input key">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">页面名称</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入页面名称"  class="layui-input name">
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">title</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入网页标题"  class="layui-input title">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">keywords</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入关键字,使用逗号隔开 ' , '"  class="layui-input keywords">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">description</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入网页描述,使用逗号隔开 ' , '"  class="layui-input description">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn btn-sumit">保存</button>
                        </div>
                    </div>

                </form>

                <script>

                    // 点击提交
                    $('.btn-sumit').click(function () {

                        var getArr = ['key','name','title','keywords','description'];

                        var getList = getClassValArr(getArr);

                        var saveStr = getList.join(";");

                        var url = "{:U('Post/Seo')}";

                        $.post(
                            url,
                            {
                                'dataStr':saveStr
                            },function (data) {

                                if (data.code == 0){


                                }else{
                                    layer.msg(data.message);
                                }

                            },'JSON'
                        )
                    });

                    // 检查手机号码
                    function checkPhone(val) {
                        if (val == '' || val.length !=11){
                            layer.msg('手机号码输入有误');
                            return false;
                        }
                        return val;
                    }

                </script>

            </div>

        </div>

    </div>


</block>