<include file="Public/header" />

<title>学习力研究院-秋季课程热卖中！来精锐，做学霸！--上海精锐教育官网</title>

<div><img src="__PUBLIC__/images/Job/onbanner.jpg" style="width:100%;"/></div>

<div class="artTileTxt cen hd">
    <h1>
        <strong>精锐教育助力中欧戈友会征战戈壁凯旋归来，商界大咖共话教育</strong>
        <span>发布日期：2017-07-27   浏览次数：<font>18915</font>次</span>
    </h1>
    <div class="artextBox">
        <p><span style=";font-family:微软雅黑;font-size:14px">2017</span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">年</span>7月8日</span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">，</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">中欧</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">戈</span></span><span
                style=";font-family:微软雅黑;font-size:14px">12回归日</span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">庆典</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">在</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">苏州隆重举行</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">。</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">精锐教育</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">助力</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">中欧戈友会</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">征战</span>“玄奘之路”第</span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">十二届</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">商学院</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">戈壁挑战赛</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">及戈友</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">回归</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">庆典，传递坚持</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">、</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">超越、团队</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">、</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">爱心陪伴</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">等</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">戈壁</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">精神</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">和</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">公益</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">正能量</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">，</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">并与中欧</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">戈友会</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">联袂</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">呈现</span>“</span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">戈二代</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">教育</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">说</span></span><span
                style=";font-family:微软雅黑;font-size:14px">”分享会</span><span style=";font-family:微软雅黑;font-size:14px"><span
                style="font-family:微软雅黑">，用以身作则的</span></span><span style=";font-family:微软雅黑;font-size:14px"><span
                style="font-family:微软雅黑">方式教育下一</span></span><span style=";font-family:微软雅黑;font-size:14px"><span
                style="font-family:微软雅黑">代</span></span><span style=";font-family:微软雅黑;font-size:14px"><span
                style="font-family:微软雅黑">。</span></span></p>
        <p><br></p><br>
        <p style="text-align: center;"><span style=";font-family:微软雅黑;font-size:14px">&nbsp;<img
                src="__PUBLIC__/images/article/1500871312575894.jpg" title="1500871312575894.jpg"
                alt="webwxgetmsgimg.jpg"></span></p>
        <p style="text-align: center;"><em><span style="font-family: 微软雅黑;font-size: 14px"><span
                style="font-family:微软雅黑">精锐教育</span></span></em><em><span
                style="font-family: 微软雅黑;font-size: 14px"><span
                style="font-family:微软雅黑">技术研发中心助理总裁马牧原与</span></span></em><em><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">中欧</span></span></em><em><span
                style="font-family: 微软雅黑;font-size: 14px"><span
                style="font-family:微软雅黑">戈友会秘书</span></span></em><em><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">长现场合影</span></span></em></p>
        <p><strong><span style="font-family: 微软雅黑;font-size: 15px">&nbsp;</span></strong></p>
        <p><strong><span style="font-family: 微软雅黑;font-size: 15px"><span
                style="font-family:微软雅黑">传扬</span></span></strong><strong><span
                style="font-family: 微软雅黑;font-size: 15px"><span
                style="font-family:微软雅黑">戈壁精神</span> </span></strong><strong><span
                style="font-family: 微软雅黑;font-size: 15px"><span
                style="font-family:微软雅黑">中欧戈</span>12载誉归来</span></strong></p>
        <p><span style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">精锐</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">教育</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">创始人</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">张熙</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">与</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">中欧国际商学院</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">结缘于</span>“中欧创业营”</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">，</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">此次助力中欧</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">戈</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)">12</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">征战</span>“</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">玄奘之路</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)">”</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">，不仅</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">是对</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">学院</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">的一份公益回馈，更是</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">在</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">致敬和传扬</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">那份超越自我、永不放弃</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">的戈壁精神</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">。戈壁滩</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">困难重重，</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">中欧戈</span>12最终完成118公里</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">的</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">戈壁徒步，</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">取得</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">第三名的</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">好成绩</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">，精锐作为其助</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">力</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">团的</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">一份子</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">，</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">与有荣焉。</span></span>
        </p>
        <p><span style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)">&nbsp;</span></p>
        <p><strong><span style="font-family: 微软雅黑;font-size: 15px;background: rgb(255, 255, 255)"><span
                style="font-family:微软雅黑">铮铮</span></span></strong><strong><span
                style="font-family: 微软雅黑;font-size: 15px;background: rgb(255, 255, 255)"><span style="font-family:微软雅黑">戈友</span></span></strong><strong><span
                style="font-family: 微软雅黑;font-size: 15px;background: rgb(255, 255, 255)">&nbsp;<span
                style="font-family:微软雅黑">温暖话教育</span></span></strong></p>
        <p><span style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">回归庆典</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">当天，</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">精锐教育更</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">携手中欧戈友会，</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">精心</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">设计了一场别开生面的</span>“</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">戈二代</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">教育说</span>”</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">主题分享</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">会</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">，邀请</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">几位重量级嘉宾</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">为到场</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">的</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">戈友</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">们分享教育心得</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">，传承</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">戈壁精神。</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">从铮铮铁骨</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">的</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">沙漠</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">英雄到</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">滔滔不绝</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">的</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">暖心</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">家长</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">，戈友们以身作则</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">，</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">以自身</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">的坚持和努力</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">为</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">表率</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">，点燃孩子对</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">学习</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">和生活</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">的</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">热情，</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">这</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">正是</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">精锐所倡导的</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">教育</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">理念</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)">——引导</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">孩子</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">主动</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">学习。</span></span></p>
        <p style="text-align: center;"><img src="__PUBLIC__/images/article/1500871326220494.jpg"
                                            title="1500871326220494.jpg" alt="webwxgetmsgimg1.jpg"><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)">&nbsp;</span></p>
        <p style="text-align: center;"><em><span
                style="font-family: 微软雅黑;font-size: 14px;background: rgb(255, 255, 255)">&nbsp;“戈二代</span></em><em><span
                style="font-family: 微软雅黑;font-size: 14px;background: rgb(255, 255, 255)"><span style="font-family:微软雅黑">教育</span></span></em><em><span
                style="font-family: 微软雅黑;font-size: 14px;background: rgb(255, 255, 255)"><span style="font-family:微软雅黑">说</span>”</span></em><em><span
                style="font-family: 微软雅黑;font-size: 14px;background: rgb(255, 255, 255)"><span style="font-family:微软雅黑">教育论坛</span></span></em>
        </p>
        <p style="margin-top:0;margin-bottom:0;text-align:justify;text-justify:inter-ideograph;line-height:28px;background:rgb(255,255,255)">
            <span style="font-family: 微软雅黑;font-size: 14px">&nbsp;</span></p>
        <p style="margin-top:0;margin-bottom:0;text-align:justify;text-justify:inter-ideograph;line-height:28px;background:rgb(255,255,255)">
            <span style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">精锐教育</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span
                style="font-family:微软雅黑">技术研发中心助理总裁马牧原也</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">参加了</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">此次分享会。</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">并为</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">戈友们</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">带来了</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">精锐</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">先进</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">的</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">教育</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">理念</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">以及</span>‘以学为主、以教为辅、主动学习、多元互动’的学习力原则</span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">。</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">运动</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">能够激发孩子内在驱动力突破自我极限，戈友们言传身教，陪伴孩子积极参与体育运动，是一种最好</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">不过的</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">点燃孩子学习力的教育方式。</span></span></p>
        <p style="margin-top:0;margin-bottom:0;text-align:justify;text-justify:inter-ideograph;line-height:28px;background:rgb(255,255,255)">
            <span style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">最后，马牧原为现场</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">的戈友</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">支招亲子</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">教育</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">的</span></span><span
                style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">方法：</span></span></p>
        <p style="margin-top:0;margin-bottom:0;text-align:justify;text-justify:inter-ideograph;line-height:28px;background:rgb(255,255,255)">
            <span style="font-family: 微软雅黑;font-size: 14px">1、最好的教育方式莫过于言传身教；</span></p>
        <p style="margin-top:0;margin-bottom:0;text-align:justify;text-justify:inter-ideograph;line-height:28px;background:rgb(255,255,255)">
            <span style="font-family: 微软雅黑;font-size: 14px">2、最好的沟通渠道莫过于和孩子拥有共同的爱好，共同的经历；</span></p>
        <p style="margin-top:0;margin-bottom:0;text-align:justify;text-justify:inter-ideograph;line-height:28px;background:rgb(255,255,255)">
            <span style="font-family: 微软雅黑;font-size: 14px">3、最深情的爱，莫过于在繁忙的工作中抽出时间给予孩子陪伴。</span></p>
        <p><strong><span style="font-family: 微软雅黑;font-size: 15px;background: rgb(255, 255, 255)">&nbsp;</span></strong>
        </p>
        <p><strong><span style="font-family: 微软雅黑;font-size: 15px;background: rgb(255, 255, 255)"><span
                style="font-family:微软雅黑">教育</span></span></strong><strong><span
                style="font-family: 微软雅黑;font-size: 15px;background: rgb(255, 255, 255)"><span style="font-family:微软雅黑">为本</span></span></strong><strong><span
                style="font-family: 微软雅黑;font-size: 15px;background: rgb(255, 255, 255)">&nbsp;&nbsp;<span
                style="font-family:微软雅黑">公益先</span></span></strong><strong><span
                style="font-family: 微软雅黑;font-size: 15px;background: rgb(255, 255, 255)"><span style="font-family:微软雅黑">行</span></span></strong>
        </p>
        <p><span style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">回归庆典上</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">荣耀</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">自然</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">不可或缺，</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">精锐</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">教育马牧原</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">特地</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">与中欧戈友会会长周海滨，一起</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">为陪伴</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">视障和智障</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">跑者</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">行走戈壁的中欧戈</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)">12B队</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">颁发了</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)">“</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">爱心公益奖</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)">”。精锐多年来坚持爱心公益是</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">教育的基石！目前</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">已经设立</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)">&nbsp;“</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">精锐</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">教育奖学金</span>”</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">、举办精锐爱心</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">图书馆</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">、</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)">1</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">对</span>1帮扶、</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">精锐爱心月</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">等一系列公益</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">活动</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">，向上海市奇偶碍于</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">发展基金会捐资</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">达</span>500多万</span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">元，</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">不断</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">社会</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
                style="font-family:微软雅黑">献出</span></span><span
                style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span style="font-family:微软雅黑">一个教育者的爱心与正能量。</span></span>
        </p>
        <p style="margin-top:0;margin-bottom:0;text-align:justify;text-justify:inter-ideograph;line-height:28px;background:rgb(255,255,255)">
            <span style=";font-family:微软雅黑;font-size:14px">&nbsp;</span></p>
        <p style="margin-top:0;margin-bottom:0;text-align:justify;text-justify:inter-ideograph;line-height:28px;background:rgb(255,255,255)">
            <strong><span style="font-family: 微软雅黑;font-size: 15px"><span style="font-family:微软雅黑">运动不息</span> <span
                    style="font-family:微软雅黑">教育</span></span></strong><strong><span
                style="font-family: 微软雅黑;font-size: 15px"><span style="font-family:微软雅黑">不止</span></span></strong></p>
        <p style="margin-top:0;margin-bottom:0;text-align:justify;text-justify:inter-ideograph;line-height:28px;background:rgb(255,255,255)">
            <span style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">精锐教育</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">创始人张熙</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">更是</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">将</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">戈壁精神和爱心</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">公益，</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">融入</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">企业</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">之中。以恒心</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span
                style="font-family:微软雅黑">、责任心、爱心要求每一位老师</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">；把</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">自我超越</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">、</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">感恩奉献和团队合作</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">作为</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">工作准则</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">；将</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">这份永不放弃和</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">敢于</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">挑战</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">的</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">心态传递给</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">精锐的</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">每一个学生。</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">精锐也在</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">不断</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">超越自我</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">，</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">致力于</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span
                style="font-family:微软雅黑">成为备受信赖的提升学习力的第三</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">课堂，坚持</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">不懈促进教育事业</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">的蓬勃</span></span><span
                style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">发展！</span></span></p>
        <p><br></p>
    </div>
</div>

<div class="artTile hd">
    <div class="cen hd">
        <a class="back fl" href="{:U('article/index')}">&lt;&lt;返回列表</a>
        <div class="fr">
            <a href="{:U('article/index')}">上一篇</a>
            <a href="{:U('article/index')}">下一篇</a>
        </div>
    </div>
</div>

<include file="Public/oneFooter" />