<include file="Public/header" />
<div style="width: 100%; height: 287px; background: url(__PUBLIC__/images/onbanner.jpg) no-repeat center top;"></div>


<div  class="newsNav">
    <ul class="cen">
        <li><a href="{:U('about/index')}">关于精锐</a><i></i></li>
        <li><a href="{:U('about/culture')}">精锐文化</a><i></i></li>
        <li><a href="{:U('about/honorprice')}">荣誉奖项</a><i></i></li>
        <li><a href="{:U('about/news')}">最新资讯</a><i></i></li>
    </ul>
</div>


<script type="text/javascript">


    // JQ动态添加 选中状态
    $(".cen > li > a").each(function(){

        $this = $(this);

        if($this[0].href == String(window.location) || $this[0].href == (String(window.location)+'.html') ){
            $this.parent().addClass("hover");
        }

    });


</script>
