<!--  页脚  -->

<style>

    .rightbG {
        position: fixed;
        right: 0;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 9999999;
    }

    .rightbG {
        background: url(__PUBLIC__/images/rightbG.png) no-repeat;
        width: 171px;
        height: 382px;
    }

    .rightbG_close {
        position: absolute;
        right: 28px;
        top: -4px;
        width: 33px;
        height: 33px;
        cursor: pointer;
    }

    .rightbG a {
        display: block;
        position: absolute;
        width: 117px;
        height: 45px;
        left: 10px;
    }

    .rightbG a:nth-of-type(1) {
        top: 107px;
    }

    .rightbG a:nth-of-type(2) {
        top: 158px;
    }

    .rightbG a:nth-of-type(3) {
        top: 216px;
    }

    .rightbG a:nth-of-type(4) {
        top: 269px;
    }

    .rightbG a:nth-of-type(5) {
        top: 322px;
        height: 26px;
    }

</style>


<style>

    .centerBox {
        background: #e7e7e7;
        width: 550px;
        height: 380px;
        border-radius: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -190px;
        margin-left: -275px;
        z-index: 999999;
        -moz-box-shadow: 0 0 20px rgba(10, 2, 4, 0.75);
        -webkit-box-shadow: 0 0 20px rgba(10, 2, 4, 0.75);
        box-shadow: 0 0 20px rgba(10, 2, 4, 0.75);
    }

    .centerBox a {
        text-decoration: none;
    }

    .mmclose {
        height: 44px;
        text-align: right;
    }

    .centerBox h4 {
        background: #47a0d9;
        height: 62px;
        line-height: 62px;
        text-align: center;
        color: #fff;
        font-size: 30px;
    }

    .centerBox h4 strong {
        font-weight: bold;
        display: block;
    }

    .typelesson {
        position: relative;
    }

    .typelesson ul {
        overflow: hidden;
        width: 470px;
        margin: 0 auto;
    }

    .typelesson ul li {
        display: block;
        width: 150px;
        float: left;
        margin: 12px 8px 0;
        background: #47a0d9;
        line-height: 38px;
        border-radius: 10px;
    }

    .typelesson ul li a {
        display: block;
        font-size: 20px;
        color: #fff;
        text-align: center;
    }

    span.centerClose {
        position: absolute;
        cursor: pointer;
        top: 2px;
        right: 2px;
        height: 32px;
        width: 32px;
        display: block;
        background: url(../__PUBLIC__/images/centerclose.jpg) no-repeat;
    }

    .typelesson ul li.hover {
        background: #f0b63a;
    }

    .typelesson ul li.hover a {
        color: #000;
    }

    img.xuebaa {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 140px;
    }

    .qgzwait {
        border-top: 1px dashed #ddd;
        margin: 0px auto;
        text-align: center;
    }

    .qgzwait a {
        background: #dddddd;
        width: 190px;
        line-height: 40px;
        display: inline-block;
        margin: 0 10px;
        border-radius: 10px;
        text-align: center;
        color: #4e4e4e;
        margin-top: 6px;
        font-size: 18px;
    }

    .qgzwait a img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
    }

    .qgzwait a.atype1 {
        background: #c9c9c9;
        color: #888888;
    }

    .qgzwait a.atype2 {
        background: #b81c22;
        color: #fff;
    }

    .mmfeiy {
        color: #010101;
        font-size: 20px;
        text-align: center;
        margin: 20px auto 5px;
    }

    .mmfeiy a {
        color: #010101;
        display: inline-block;
    }

    .mmfeiy a img {
        vertical-align: -3px;
        margin-right: 7px;
        width: 6px;
    }

</style>

<div class="copyright">
    <div class="btm_nav2">
        <a href="{:U('about/index')}">关于书味</a> | <a href="{:U('job/index')}" target="_blank">书味招聘</a> |
        <a href="tencent://message/?uin={$qq}">联系我们</a> |
    <p>
        {$copyright}
        <a target="_blank" href='http://www.miitbeian.gov.cn' class='icp'>{$icp}</a>
        联系电话：{$phone} {$phonetwo}
    </p>
    </div>

    <div style="width:300px;margin:0 auto; ">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010102004531" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
            <img src="__PUBLIC__/newImages/police.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">{$policeicp}</p >
        </a>
    </div>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1270486446'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1270486446%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1270479822'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1270479822%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>


</div>

</body>
</html>
