<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{$data['title']} -上海书味教育</title>
    <meta name='keywords' content="{$data['keywords']}" />
    <meta name='Description' content="{$data['description']}" />

    <script src="__PUBLIC__/bootstrap/js/jquery-3.2.1.min.js"></script>
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/js/masterlib.js"></script>

    <style>

        .phoneTwo{
            margin-left: 60px !important;
            margin-top: 0px !important;
        }

        .logoTel{
            height: 120px;
        }

        .setHeight{
            height: 80px;
        }

    </style>

</head>
<body>

<div class="logo">
    <div class="logoMain cen">
        <div class="logoImg fl">
            <a href="{:U('index/index')}">
                <img src="__PUBLIC__/newImages/logo.jpg"/></a>
        </div>
        <div class="logoTel fr">
            <strong>{$phone}</strong>
            <strong class="phoneTwo">{$phonetwo}</strong>
    </div>

</div>
</div>

<div class="clear"></div>

<div class="nav">
    <div class="navMeau cen  hd ">
        <div class="navMeaubar">
            <h2><strong>课程辅导</strong></h2>
            <dl>
                <dt><a href="{:U('about/cramSchool')}">高中同步课程</a></dt>
                <dd>
                    <a href="{:U('about/cramSchool')}">语文</a> | <a href="{:U('about/cramSchool')}">数学</a> | <a href="{:U('about/cramSchool')}">英语</a> | <a href="{:U('about/cramSchool')}">物理</a> | <a href="{:U('about/cramSchool')}">化学</a>
                    <br />
                    <a href="{:U('about/cramSchool')}">地理</a> | <a href="{:U('about/cramSchool')}">历史</a>
                </dd>
                <dt><a href="{:U('about/cramSchool')}">初中同步课程</a></dt>
                <dd>
                    <a href="{:U('about/cramSchool')}">语文</a> | <a href="{:U('about/cramSchool')}">数学</a> | <a href="{:U('about/cramSchool')}">英语</a>

                    <a href="{:U('about/cramSchool')}">物理</a> | <a href="{:U('about/cramSchool')}">化学</a>
                    <br />
                    <a href="{:U('about/cramSchool')}">地理</a> | <a href="{:U('about/cramSchool')}">历史</a>
                </dd>
                <dt><a href="{:U('about/cramSchool')}">小学同步课程</a></dt>
                <dd>
                    <a href="{:U('about/cramSchool')}">语文</a> | <a href="{:U('about/cramSchool')}">数学</a> | <a href="{:U('about/cramSchool')}">英语</a>
                </dd>
                <dt><a href="{:U('about/cramSchool')}">特色课程</a></dt>
                <dd>
                    <a class="tsbs" href="{:U('about/cramSchool')}">中考</a> |
                    <a class="tsbs" href="{:U('about/cramSchool')}">高考</a> |
                    <a class="tsbs" href="{:U('about/cramSchool')}">秋季班</a>

                </dd>
                <dt><a href="{:U('about/cramSchool')}">升学考冲刺课程</a></dt>
                <dd>

                    <a href="{:U('about/cramSchool')}">语文</a> | <a href="{:U('about/cramSchool')}">数学</a> | <a href="{:U('about/cramSchool')}">英语</a>
                    <!--杭州-->

                    | <a href="{:U('about/cramSchool')}">物理</a> | <a href="{:U('about/cramSchool')}">化学</a>
                    <br />
                    <a href="{:U('about/cramSchool')}">地理</a> | <a href="{:U('about/cramSchool')}">历史</a>
                </dd>
            </dl>
        </div>
        <ul class="clickHref">
            <li data-href="{:U('index/index')}" class="active">首页</li>
            <li data-href="{:U('about/index')}" class="about">走进书味</li>
            <li data-href="{:U('index/oneOnOne')}">1对1</li>
            <li data-href="{:U('index/oneOnThree')}">1对3</li>
            <li data-href="{:U('institute/index')}">师资力量</li>
            <li data-href="{:U('ismart/index')}">教学理念</li>
            <li data-href="{:U('job/index')}">书味招聘</li>
        </ul>

    </div>

</div>

<script>

    // JQ动态添加 选中状态
    $(".clickHref > li").each(function(){
        $this = $(this).data('href');
        if($this == String(window.location.pathname) || $this == (String(window.location)+'.html') ){
            $(this).css("background",'#b71c20');
        }
    });

    //点击跳转
    $('.clickHref > li').click(function () {
       href = $(this).data('href');
       window.location = href;
    });


    //  内页导航效果
    $(".navMeau .navMeaubar h2 strong").click(function () {
        $(".navMeau").toggleClass("hd")
    })

</script>



