<include file="Public/header" />

<title>学习力研究院-秋季课程热卖中！来书味，做学霸！--上海书味教育官网</title>

<div><img src="__PUBLIC__/images/Institute/teaBanner.jpg" style="width:100%;"/></div>


<div class="newteaMain">
    <div class="newsNav">
        <ul class="cen">
            <li class="hover"><a href="{:U('institute/index')}">学习力研究院</a><i></i></li>
            <li><a href="{:U('institute/teachers')}">学霸导师</a><i></i></li>
        </ul>
    </div>

    <h2 class="ntitle nc1">学习力研究团队</h2>

    <div class="newteaOne cen hd">
        <div class="newteaOneTop">
            <img src="__PUBLIC__/images/Institute/tea1.jpg" />
            <p>作为书味的专业研发部门，书味学习力研究团队汇聚众多教育学者智慧，致力于围绕"学习力"的学法、教法的研发与培训，为书味一线师资团队提供培训支持，实现人才梯队建设。</p>
        </div>
        <div class="h25 clear"></div>
        <div class="newteaOnelist">
            <ul>
                <li class="tea1">	<img src="__PUBLIC__/images/Institute/tea3.jpg" />
                    <dl>
                        <dt>打造学习力王国</dt>
                        <dd>
                            <p>书味学习力研究团队致力于学员学习力的开发，和业界权威合作开发"PLI学习力智能测评"，"TCT模块教学法"等教学产品,将学习力概念真正落实到我们的教学环节中，帮助孩子快乐高效地学习。</p>
                            <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;">了解更多</a>
                        </dd>
                    </dl>
                </li>
                <li class="tea2">	<img src="__PUBLIC__/images/Institute/tea4.jpg" />
                    <dl>
                        <dt>把握中高考趋势</dt>
                        <dd>
                            <p>书味学习力研究团队汇集了一批名校毕业并具有丰富教研经验的老师，并聘请大量公校名师为顾问，准确把脉最新中高考政策方向和命题规律；独家推出《中考白皮书》、《高考白皮书》等专业资料，帮助孩子决胜考场。</p>
                            <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;">了解更多</a>
                        </dd>
                    </dl>
                </li>
                <li class="tea3">	<img src="__PUBLIC__/images/Institute/tea5.jpg" />
                    <dl>
                        <dt>独家开发学习书籍</dt>
                        <dd>
                            <p>书味学习力研究团队家推出了《赢在系列》,《考试360系列》等学科类书籍，帮助学员掌握备考攻略；同时学习力研究团队还推出了《决胜考场》、《我的学习我做主》等提升学习力的系列丛书，帮助学生改善学习方法和习惯，深受广大学员及家长的欢迎。</p>
                            <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;">了解更多</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="h25 clear"></div>

    <div class="nad"><a href="javascript:void(0)"  onclick="doyoo.util.openChat();return false;" ></a></div>
    <!-- News -->
    <div class="newSzx">
        <div class="newSzxMain cen hd">
            <h2 class="ntitle nc2">最新资讯</h2>
            <div class="nzx fl">
                <img src="__PUBLIC__/images/Institute/nzx.png" /></div>
            <div class="newSzxMainText hd">
                <ul>
                    <li><i></i><a href="news-view.aspx?id=4352">书味教育助力中欧戈友会征战戈壁凯旋归来，商界大咖共话教育</a> <span>2017-07-27</span></li> <li><i></i><a href="news-view.aspx?id=4349">书味教育中高考菁英学员颁奖典礼，邀您共同见证青春的足迹！</a> <span>2017-07-17</span></li> <li><i></i><a href="news-view.aspx?id=4348">新初高三校长推荐课程</a> <span>2017-06-29</span></li> <li><i></i><a href="news-view.aspx?id=4346">中国教育电视台三频道《加油吧，考生》——《中考总动员》节目即将开播，千万不能错过！</a> <span>2017-06-12</span></li> <li><i></i><a href="news-view.aspx?id=4344">​6月3日“中考总动员”讲座报名啦！</a> <span>2017-06-01</span></li>

                </ul>
                <a class="nmore fr" href="news.aspx">更多信息</a>
            </div>
        </div>
    </div>
    <!-- News /-->
    <div class="newSown nbg">
        <div class="newSownMain cen hd">
            <h2 class="ntitle nc3">书味学习力研究团队介绍</h2>
            <div class="newsownText hd">
                <ul>
                    <li class="fl">
                        <div  class="hpic"><img src="__PUBLIC__/images/Institute/tea6.png" /></div>
                        <div class="tname"><strong>熊丙奇</strong><span><i></i>21世纪教育发展研究院副院长</span></div>
                        <dl>
                            <dt>业界背景</dt>
                            <dd><p>21世纪教育发展研究院副院长</p>
                                <p>上海交通大学博士</p>
                                <p>中国教育报、中国青年报、南方都市报、北京青年报等全国性媒体教育专栏作者</p>
                                <p>央广评选“2014中国教育变革人物”、搜狐“中国教育推动者”</p>
                            </dd>
                            <dt>学术成就</dt>
                            <dd>
                                <!--            	<p>主编、编著图书20种30版次，《高校学生工作者手册》、《成功宝典（从小学到大学）》等</p>
                                                <p>作品获得教育部、上海市嘉奖20余次</p>
                                                <p>多次发表中高考政策剖析文章，举办大型讲座</p>
                                -->
                                <p>主编、编著图书20种30版次，包括《步入大学》、《成功宝典——从小学到大学》、《走过高中》、《教育的挑战》等</p>


                            </dd>
                        </dl>
                    </li>
                    <li class="fr">
                        <div  class="hpic"><img src="__PUBLIC__/images/Institute/tea7.png" /></div>
                        <div class="tname"><strong>范耀祖</strong><span><i></i>多年重点中学校长</span></div>
                        <dl>
                            <dt>业界背景</dt>
                            <dd>
                                <p>多年重点中学校长</p>
                                <p>曾任中学数学教学研究会副会长</p>
                                <p>中国数学学会“数学奥林匹克”一级教练</p>
                                <p>1982年起任重点中学校长</p>
                                <p>曾被评为全国“中学高级教师”、省级“优秀教师”</p>
                                <p>曾参加中高考及自主招生命题及阅卷</p>
                            </dd>
                            <dt>学术成就</dt>
                            <dd>
                                <p>主编高三数学教学和数学高考系列丛书《高分直通车》</p>
                                <p>曾在省市级教育学会发表关于数学教学的论文</p>
                            </dd>
                        </dl>
                    </li>
                    <li class="fl" style="height:480px">
                        <div  class="hpic"><img src="__PUBLIC__/images/Institute/tea8.png" /></div>
                        <div class="tname"><strong>肖果能</strong><span><i></i>中南大学数学系教授</span></div>
                        <dl>
                            <dt>业界背景</dt>
                            <dd>
                                <!--<p>中南大学数学系教授</p>
                                <p>中国数学奥林匹克高级教练员</p>
                                <p>2003年全俄数学奥林匹克竞赛中国队领队</p>
                                <p>1997年全国高中数学联赛命题专家</p>-->
                                <p>中南大学铁道校区数学系教授</p>
                                <p>中国数学奥林匹克高级教练员</p>
                                <p>第29届全俄数学奥林匹克竞赛中国队领队</p>
                                <p>曾参加1997年全国高中数学联赛命题</p>

                            </dd>
                            <dt>学术成就</dt>
                            <dd>
                                <p>1987年国家教委科技进步奖二等奖</p>
                                <p>国家新闻出版署第七届全国优秀科技图书二等奖
                                </p>
                            </dd>
                        </dl>
                    </li>
                    <li class="fr" style="height:480px">
                        <div  class="hpic"><img src="__PUBLIC__/images/Institute/tea9.png" /></div>
                        <div class="tname"><strong>陈必祥</strong><span><i></i>华师大中文系教授</span></div>
                        <dl>
                            <dt>业界背景</dt>
                            <dd>
                                <p>华东师范大学中文系教授</p>
                                <p>《咬文嚼字》顾问</p>
                                <p>《魅力汉语》执行编委</p>
                            </dd>
                            <dt>学术成就</dt>
                            <dd>
                                <p>著有《古今字和通假字》、《古代散文文体概论》、《欧阳修文选》等</p>
                                <p>主编《中国现代语文教育发展史》、《世界五千年》</p></p>
                                <p>发表有关中学语文教育论文五十余篇</p>
                            </dd>
                        </dl>
                    </li>

                </ul>
            </div>


        </div>
    </div>

</div>


<include file="Public/oneFooter" />