<include file="Public/header" />

<title>学习力研究院-秋季课程热卖中！来精锐，做学霸！--上海精锐教育官网</title>

<div><img src="__PUBLIC__/images/Institute/teaBanner.jpg" style="width:100%;"/></div>

<div class="newteaMain">

    <div class="newsNav">
        <ul class="cen">
            <li><a href="{:U('institute/index')}">学习力研究院</a><i></i></li>
            <li class="hover"><a href="{:U('institute/teachers')}">学霸导师</a><i></i></li>
        </ul>
    </div>

    <div class="nstudents tea_2Main cen hd">
        <h2 class="ntitle nc1">学霸导师</h2>
        <p class="mstext">来自清华、北大、北师大等师范类院校本科硕士学霸；部分取得哈佛大学教育学院课程培训认证；<br>严格控制录取率及通过考试淘汰制培养出的优秀教师；</p>
        <ul>
            <li class="fl">
                <div class="h100"></div>
                <div class="newSTxt">
                    <div class="newSname">
                        <img src="__PUBLIC__/images/Institute/576ca4496f9b4.jpg">
                        <strong>杨老师</strong>
                    </div>
                    <p>
                        杨志念，数学教师，毕业于华东师大数学系。多年毕业班教学经验、授课风趣幽默，启发、引导和教授式教学并行；注重数学思维的训练和数学方法的讲解，引导学生对题型进行分类总结，从一题到多题通法，举一反三；提升学员学习兴趣，掌握正确学习方法，获得高分，继而拿到开启成功之门的金钥匙。
                    </p>
                    <div class="hr"></div>
                    <a href="javascript:void(0)" onclick="doyoo.util.openChat();return false;"><img src="__PUBLIC__/images/tea12.png"> 立即咨询</a>
                </div>
            </li> <li class="fr">
            <div class="h100"></div>
            <div class="newSTxt">
                <div class="newSname">
                    <img src="__PUBLIC__/images/Institute/2dcd5119-72bd-4c31-baa8-c7487e8fa6dc.jpg">
                    <strong>鞠亚雯</strong>
                </div>
                <p>
                    战绩：
                    多名学员考入清华、复旦等名校 &nbsp;
                    个性化提分高招：
                    曾经多年在市重点中学担任高三语文教学及班主任工作，曾获得市级“教坛新秀”称号
                </p>
                <div class="hr"></div>
                <a href="javascript:void(0)" onclick="doyoo.util.openChat();return false;"><img src="__PUBLIC__/images/tea12.png"> 立即咨询</a>
            </div>
        </li> <li class="fl">
            <div class="h100"></div>
            <div class="newSTxt">
                <div class="newSname">
                    <img src="__PUBLIC__/images/Institute/e5fa5e4d-32a4-4240-bbfe-b320e7c6e50a.jpg">
                    <strong>吴鎏琳</strong>
                </div>
                <p>
                    战绩：
                    多名学员考入清华、交大、浙大、韩国首尔大学、法国里昂大学等名校
                    个性化提分高招：
                    浙江大学文学硕士，多年毕业班教学经验&nbsp;
                    自创“印象作文、感知阅读、诗舞天地”模块教学法
                </p>
                <div class="hr"></div>
                <a href="javascript:void(0)" onclick="doyoo.util.openChat();return false;"><img src="__PUBLIC__/images/tea12.png"> 立即咨询</a>
            </div>
        </li> <li class="fr">
            <div class="h100"></div>
            <div class="newSTxt">
                <div class="newSname">
                    <img src="__PUBLIC__/images/Institute/1451a577-f79d-4a09-a48f-aaab1d214c51.jpg">
                    <strong>武浩</strong>
                </div>
                <p>
                    战绩：
                    多名学员考取交大、复旦等高校；
                    个性化提分高招：
                    华南师范大学物理系高材生，
                    自创物理思维模型法，
                    熟谙中高考命题方向。
                </p>
                <div class="hr"></div>
                <a href="javascript:void(0)" onclick="doyoo.util.openChat();return false;"><img src="__PUBLIC__/images/tea12.png"> 立即咨询</a>
            </div>
        </li> <li class="fl">
            <div class="h100"></div>
            <div class="newSTxt">
                <div class="newSname">
                    <img src="__PUBLIC__/images/Institute/b2ca5c49-5a51-4946-a2ad-6247e4fc85e2.jpg">
                    <strong>吴爱芝</strong>
                </div>
                <p>
                    战绩：
                    多名学员考入华附、执信、广雅、省实等；
                    个性化提分高招：
                    公立学校多年教学生涯及多年的初三带教经验，
                    熟悉广东教材、考试重难点及出题方向。
                </p>
                <div class="hr"></div>
                <a href="javascript:void(0)" onclick="doyoo.util.openChat();return false;"><img src="__PUBLIC__/images/tea12.png"> 立即咨询</a>
            </div>
        </li> <li class="fr">
            <div class="h100"></div>
            <div class="newSTxt">
                <div class="newSname">
                    <img src="__PUBLIC__/images/Institute/f5f2aeee-ae1e-425c-838e-82c0aeafd37b.jpg">
                    <strong>吕老师</strong>
                </div>
                <p>
                    吕舜娟，语文教师，毕业于中山大学。&nbsp;优秀教师，十年教学经验；“爱”字当头，“责”字当重，擅挖掘学生优点引导学员快速进步；致力于创设轻松和谐的课堂氛围，让他们以良好的心态健康快乐地学习，提升学习力。
                </p>
                <div class="hr"></div>
                <a href="javascript:void(0)" onclick="doyoo.util.openChat();return false;"><img src="__PUBLIC__/images/tea12.png"> 立即咨询</a>
            </div>
        </li> <li class="fl">
            <div class="h100"></div>
            <div class="newSTxt">
                <div class="newSname">
                    <img src="__PUBLIC__/images/Institute/ae3cecec-c931-42d4-823f-a9ef042a01d0.jpg">
                    <strong>宋龙</strong>
                </div>
                <p>
                    宋龙，物理教师，毕业于中山大学。&nbsp;教学重基础、重分析能力，注重学生逻辑能力及自主性的培养；擅于发觉学生思维漏洞，而后通过引导、对比、总结的方式教导，从而提高素质优化学习力；以其博学德高深受学生家长爱戴。
                </p>
                <div class="hr"></div>
                <a href="javascript:void(0)" onclick="doyoo.util.openChat();return false;"><img src="__PUBLIC__/images/tea12.png"> 立即咨询</a>
            </div>
        </li> <li class="fr">
            <div class="h100"></div>
            <div class="newSTxt">
                <div class="newSname">
                    <img src="__PUBLIC__/images/Institute/d35b8fde-9e53-469a-9775-8693b62989c5.jpg">
                    <strong>许群弟</strong>
                </div>
                <p>
                    许群弟，数学教师，毕业于中山大学。中国数学奥林匹克一级教练员，优秀中考数学教师中考主讲教师；从事初三数学课外辅导多年，数学专业知识过硬；对数学课程体系有深入了解，对中考考点、难点有细致研究；擅长把握学生的心理并进行引导，让学生变被动学习为主动求学；历年辅导的多名学生在中考都有不同程度的进步，多人考入一流名校，并多次被精锐评为中考优秀教师。
                </p>
                <div class="hr"></div>
                <a href="javascript:void(0)" onclick="doyoo.util.openChat();return false;"><img src="__PUBLIC__/images/tea12.png"> 立即咨询</a>
            </div>
        </li> <li class="fl">
            <div class="h100"></div>
            <div class="newSTxt">
                <div class="newSname">
                    <img src="__PUBLIC__/images/Institute/5672721e7e68f.jpg">
                    <strong>施小芸</strong>
                </div>
                <p>
                    在1对1教学上有丰富的教学经验，掌握各种教学手段和教学方法，专注学生学习力的提升，善于循循善诱、抽丝拨茧引导学生，对孩子认真负责、用心付出，深受学生爱戴、家长认可。学然后知不足，教然后知困。知不足，然后能自反也；知困，然后能自强也，这也是施老师一直躬行贯彻的至理。
                </p>
                <div class="hr"></div>
                <a href="javascript:void(0)" onclick="doyoo.util.openChat();return false;"><img src="__PUBLIC__/images/tea12.png"> 立即咨询</a>
            </div>
        </li> <li class="fr">
            <div class="h100"></div>
            <div class="newSTxt">
                <div class="newSname">
                    <img src="__PUBLIC__/images/Institute/56726f2d15299.jpg">
                    <strong>张陶</strong>
                </div>
                <p>
                    中国矿业大学毕业，由于个人对教育的喜爱。毅然放弃高薪工作，投身于教育行业。物理专业知识过硬，极具师德，口碑极佳。
                </p>
                <div class="hr"></div>
                <a href="javascript:void(0)" onclick="doyoo.util.openChat();return false;"><img src="__PUBLIC__/images/tea12.png"> 立即咨询</a>
            </div>
        </li>

        </ul>

    </div>

    <!-- Page -->
    <div class="onpage cen ort hd">
        <a class="per" href="teachers.aspx?page=1">上一页</a>
        <ul>
            <li class="hover"><a href="teachers.aspx?page=1">1</a></li>
            <li><a href="teachers.aspx?page=2">2</a></li>
            <li><a href="teachers.aspx?page=3">3</a></li>
            <li><a href="teachers.aspx?page=4">4</a></li>
            <li><a href="teachers.aspx?page=5">5</a></li>
            <li><a href="teachers.aspx?page=6">6</a></li>
            <li><a href="teachers.aspx?page=7">7</a></li>
            <li><a href="teachers.aspx?page=8">8</a></li>
            <li><a href="teachers.aspx?page=9">9</a></li>
            <li><a href="teachers.aspx?page=10">10</a></li>
            <li><a href="teachers.aspx?page=11">11</a></li>
        </ul>
        <a class="next" href="teachers.aspx?page=2">下一页</a>
    </div>
    <!-- Page /-->

</div>


<include file="Public/footer" />