<include file="Public/header" />
<title>首页</title>

<meta name='keywords' content='上海精锐教育,上海1对1辅导,上海1对3辅导，上海高考冲刺，上海中考冲刺，上海小升初辅导，新初一辅导,新初三辅导，新高一辅导,新高三辅导，语文补习，数学补习，英语补习，物理补习，化学补习，暑期辅导班, 暑期培训班, 暑期补习班, 暑期冲刺班' />
<meta name='Description' content='上海精锐教育，由哈佛北大精英创立，中考、精锐教育暑期爆款课程热卖中！暑期辅导选择1对1辅导，个性化定制，高效提分。非毕业班同步课程补习，选择1对3互动精英课程。来精锐，做学霸！暑期课程涵盖语文、数学、英语、物理、化学、科学等针对性学科辅导课程。咨询热线：400-883-8062' />

<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="__PUBLIC__/js/masterlib.js"></script>

<style>
    #doyoo_mon_inner {display:none;}
</style>

</head>
<body>

<div class="top">
    <div class="topMain cen hd">
        <div class="topMainLeft fl hd">
                <span class="bts">
                    <img src="__PUBLIC__/images/m2.png" /><a href="http://shop.1smart.org/" target="_blank">学霸加油站</a></span>
            <span>
                    <img src="__PUBLIC__/images/m3.png" /><a href="club.aspx" target="_blank">精锐辅修课</a>&nbsp;&nbsp;&nbsp;</span>
        </div>

    </div>
</div>
<div class="logo">
    <div class="logoMain cen">
        <div class="logoImg fl">
            <a href="http://www.jingrui.cn">
                <img src="__PUBLIC__/images/logo.jpg" /></a>
        </div>
        <div class="logoTel fr">
            <a href="1v1.aspx" class="ovos1"></a>
            <a href="1v3.aspx" class="ovos2"></a>
            <strong>400-883-8062</strong></div>
    </div>
</div>

<div class="clear"></div>
<div class="nav">
    <div class="navMeau cen  hd ">
        <div class="navMeaubar">
            <h2><strong>课程辅导</strong></h2>
            <dl>
                <dt><a href="/zt/2017qja/index.aspx">高中同步课程</a></dt>
                <dd>
                    <a href="/zt/2017qja/index.aspx">语文</a> | <a href="/zt/2017qja/index.aspx">数学</a> | <a href="/zt/2017qja/index.aspx">英语</a> | <a href="/zt/2017qja/index.aspx">物理</a> | <a href="/zt/2017qja/index.aspx">化学</a>
                    <br />
                    <a href="/zt/2017qja/index.aspx">地理</a> | <a href="/zt/2017qja/index.aspx">历史</a>
                </dd>
                <dt><a href="/zt/2017qja/index.aspx">初中同步课程</a></dt>
                <dd>
                    <a href="/zt/2017qja/index.aspx">语文</a> | <a href="/zt/2017qja/index.aspx">数学</a> | <a href="/zt/2017qja/index.aspx">英语</a>

                    <a href="/zt/2017qja/index.aspx">物理</a> | <a href="/zt/2017qja/index.aspx">化学</a>
                    <br />
                    <a href="/zt/2017qja/index.aspx">地理</a> | <a href="/zt/2017qja/index.aspx">历史</a>
                </dd>
                <dt><a href="/zt/2017qja/index.aspx">小学同步课程</a></dt>
                <dd>
                    <a href="/zt/2017qja/index.aspx">语文</a> | <a href="/zt/2017qja/index.aspx">数学</a> | <a href="/zt/2017qja/index.aspx">英语</a>
                </dd>
                <dt><a href="/zt/2017qja/index.aspx">特色课程</a></dt>
                <dd>
                    <a class="tsbs" href="/zt/2017qja/index.aspx">中考</a> |
                    <a class="tsbs" href="/zt/2017qja/index.aspx">高考</a> |
                    <a class="tsbs" href="/zt/2017qja/index.aspx">秋季班</a>
                    <!--
                     <a href="/zt/2017yk/index.aspx" class="tsbs" >艺考</a> |
                      <a href="Featured-courses.aspx">自主招生</a>
                    -->
                </dd>
                <dt><a href="/zt/2017qja/index.aspx">升学考冲刺课程</a></dt>
                <dd>

                    <a href="/zt/2017qja/index.aspx">语文</a> | <a href="/zt/2017qja/index.aspx">数学</a> | <a href="/zt/2017qja/index.aspx">英语</a>
                    <!--杭州-->

                    | <a href="/zt/2017qja/index.aspx">物理</a> | <a href="/zt/2017qja/index.aspx">化学</a>
                    <br />
                    <a href="/zt/2017qja/index.aspx">地理</a> | <a href="/zt/2017qja/index.aspx">历史</a>
                </dd>
            </dl>
        </div>
        <ul>
            <li><a href="default.aspx">首页</a></li>
            <li><a href="about.aspx">走进精锐</a></li>
            <li><a href="ceo.aspx">学霸之路</a></li>
            <li><a href="1v1.aspx">1对1</a></li>
            <li><a href="1v3.aspx">1对3</a></li>
            <li><a href="institute.aspx">师资力量</a></li>
            <!--

                                <li><a href="stars.aspx">精锐之星</a></li>

            -->
            <li><a href="ismart.aspx">教学理念</a></li>
            <li><a href="school.aspx">学习中心分布</a></li>

            <style>
                .navMeau.cen{width:1122px;}
            </style>
            <li><a href="http://www.jingrui.cn/pc/news-view.aspx?id=4322" target="_blank">精锐招聘</a></li>

        </ul>
    </div>

</div>


<div style="width: 100%; height: 287px; background: url(__PUBLIC__/images/onbanner.jpg) no-repeat center top;"></div>
<style>
    #doyoo_mon_inner {display:none
    }
</style>
<div class="newsNav">
    <ul class="cen">
        <li ><a href="ceo.aspx">学霸之路</a><i></i></li>
        <li class="hover"><a href="about.aspx">关于精锐</a><i></i></li>
        <li ><a href="culture.aspx">精锐文化</a><i></i></li>

        <li ><a href="honorprice.aspx">荣誉奖项</a><i></i></li>


        <li ><a href="news.aspx">最新资讯</a><i></i></li>
    </ul>
</div>

<div class="onsOne cen hd">
    <h2 class="ntitle nc1">关于精锐</h2>
    <div class="onsOneMain hd">
        <img src="__PUBLIC__/images/on1.jpg" />
        <div class="onsOneTxt fr">

            <p>精锐教育由哈佛北大精英创立，致力于中小学学生的个性化培优教育。</p>
            <div class="youshi">
                创始人“学霸张”总结自己在哈佛北大的学霸经验，创新性推出“i精锐·学习力提升系统”，通过1对1及1对3优质教学服务，强调主动学习及多元互动，帮助学生提升学习力，掌握学霸的学习方法，轻松迎战中高考。

            </div>
        </div>
    </div>
</div>

<div class="nad"><a href="javascript:void(0)"  onclick="doyoo.util.openChat();return false;" ></a></div>
<!-- News -->
<div class="newSzx">
    <div class="newSzxMain cen hd">
        <h2 class="ntitle nc2">最新资讯</h2>
        <div class="nzx fl">
            <img src="__PUBLIC__/images/nzx.png" /></div>
        <div class="newSzxMainText hd">
            <ul>
                <li><i></i><a href="news-view.aspx?id=4352">精锐教育助力中欧戈友会征战戈壁凯旋归来，商界大咖共话教育</a> <span>2017-07-27</span></li> <li><i></i><a href="news-view.aspx?id=4349">精锐教育中高考菁英学员颁奖典礼，邀您共同见证青春的足迹！</a> <span>2017-07-17</span></li> <li><i></i><a href="news-view.aspx?id=4348">新初高三校长推荐课程</a> <span>2017-06-29</span></li> <li><i></i><a href="news-view.aspx?id=4346">中国教育电视台三频道《加油吧，考生》——《中考总动员》节目即将开播，千万不能错过！</a> <span>2017-06-12</span></li> <li><i></i><a href="news-view.aspx?id=4344">​6月3日“中考总动员”讲座报名啦！</a> <span>2017-06-01</span></li>

            </ul>
            <a class="nmore fr" href="news.aspx">更多信息</a>
        </div>
    </div>
</div>
<!-- News /-->


<!--  页脚  -->
<div class="fr_link" id="fr_link">
    <div class="fr_link_con">
        <ul>
            <li>
                <a href="http://www.onesmart.org" target="_blank">
                    <img src="__PUBLIC__/images/logo.jpg" />
                </a>
            </li>
            <li><a target="_blank" href="http://www.zhaosheng.com/" rel="nofollow">
                <img src="__PUBLIC__/images/55975ae1ca776.png"></a></li>
            <li><a target="_blank" href="http://edu.qq.com/" rel="nofollow">
                <img src="__PUBLIC__/images/55975b1e25dc3.png"></a></li>
            <li><a target="_blank" href="http://edu.sina.com.cn/" rel="nofollow">
                <img src="__PUBLIC__/images/55975b457b3b3.png"></a></li>
            <li><a target="_blank" href="http://edu.163.com/" rel="nofollow">
                <img src="__PUBLIC__/images/55975b7d3dbde.png"></a></li>
            <li><a target="_blank" href="http://kid.baby.sina.com.cn/" rel="nofollow">
                <img src="__PUBLIC__/images/55975bd8c1565.png"></a></li>
            <li><a target="_blank" href="http://www.eol.cn/" rel="nofollow">
                <img src="__PUBLIC__/images/55975bfa2d221.png"></a></li>
            <li><a target="_blank" href="http://www.fhedu.cn/" rel="nofollow">
                <img src="__PUBLIC__/images/55975c81dff9b.png"></a></li>
        </ul>
    </div>
</div>

<style>

    .centerBox{background:#e7e7e7;width:550px;height:380px; border-radius:10px;position:fixed;top:50%;left:50%;margin-top:-190px;margin-left:-275px;z-index:999999;
        -moz-box-shadow: 0 0 20px rgba(10,2,4,0.75);-webkit-box-shadow: 0 0 20px rgba(10,2,4,0.75);box-shadow: 0 0 20px rgba(10,2,4,0.75);}
    .centerBox a {text-decoration:none;}
    .mmclose{height:44px; text-align: right;}
    .centerBox h4{ background: #47a0d9;height:62px; line-height: 62px; text-align: center;
        color: #fff; font-size: 30px;}
    .centerBox h4 strong{font-weight:bold;display:block;}
    .typelesson {position:relative;}
    .typelesson ul{overflow:hidden;width:470px;margin:0 auto;}
    .typelesson ul li{display:block;width:150px;float:left;margin:12px 8px 0;background:#47a0d9;line-height:38px;border-radius:10px;}
    .typelesson ul li a{display:block;font-size:20px;color:#fff;text-align:center;}
    span.centerClose{position:absolute;cursor:pointer;top:2px;right:2px;height:32px;width:32px;display:block;background:url(../__PUBLIC__/images/centerclose.jpg) no-repeat;}
    .typelesson ul li.hover{background:#f0b63a;}
    .typelesson ul li.hover a{color:#000;}
    img.xuebaa{display:block;position:absolute;right:10px;top:10px;width:140px;}
    .qgzwait{border-top: 1px dashed #ddd;margin: 0px auto;text-align: center;}
    .qgzwait a{background:#dddddd;width:190px;line-height:40px;display:inline-block;margin:0 10px;border-radius:10px;
        text-align:center;color:#4e4e4e;margin-top:6px;font-size:18px;}
    .qgzwait a img{display:inline-block;vertical-align: middle;margin-right:4px;}
    .qgzwait a.atype1{background:#c9c9c9;color:#888888;}
    .qgzwait a.atype2{background:#b81c22;color:#fff;}
    .mmfeiy{ color: #010101; font-size: 20px; text-align: center; margin: 20px auto 5px;}
    .mmfeiy a{color: #010101; display: inline-block;}
    .mmfeiy a img{    vertical-align: -3px;
        margin-right: 7px;
        width: 6px;}
</style>

<div class="copyright">
    <div class="btm_nav2">
        <a href="about.aspx">关于精锐</a> | <a href="http://www.jingrui.cn/pc/news-view.aspx?id=4322" target="_blank">精锐招聘</a> |  <a href="sitemap.aspx">网站地图</a> | <a href="school.aspx">联系我们</a> |
        <span id="cnzz_stat_icon_3662086"><a href="http://www.cnzz.com/stat/website.php?web_id=3662086" target="_blank" title="站长统计">| 站长统计</a></span>
        <script src=" http://s15.cnzz.com/stat.php?id=3662086" type="text/javascript"></script>
        <script src="http://c.cnzz.com/core.php?web_id=3662086&amp;t=z" charset="utf-8" type="text/javascript">
        </script>
    </div>
    <p>COPY-RIGHT@2009-2017上海精思锐教育培训有限公司  <a href='http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action'  class='icp'>沪ICP备17023726号</a> 联系电话：021-80176533 投诉热线：400-999-6930</p>

    <div style="width:300px;margin:0 auto; padding:10px 0 0;">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010702001998" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="__PUBLIC__/images/an_icon.jpg" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">沪公网安备 31010702001998号</p></a>
    </div>
</div>




<div class="fixbottom">
    <div class="fixbottomBox">
        <span class="hover"><b>学霸经验分享</b></span>
        <div class="fixbox">
            <img src="__PUBLIC__/images/fixbox.png" />
            <strong>400-883-8062</strong>
        </div>
        <!-- <img class="closes" src="__PUBLIC__/images/closes.png" /> -->
    </div>
</div>

</div>


<script type="text/javascript">
    $(function () {

        $(".closes").click(function () {
            $(".copyright").css("paddingBottom", "20px")
            $(".fixbottom").slideToggle("slow");
            setTimeout(function () { $(".fixbottom").slideToggle("slow"); $(".copyright").css("paddingBottom", "140px") }, 25000);
        })

        $(".timebox ul li").mouseenter(function () {
            $(this).addClass("hover").siblings().removeClass("hover")
        })

        $(".closeright").click(function () {
            $(".rightBoxNEWS").animate({ right: "-220px" }, 500);
        })
        $(".fixbottomBox span").click(function () {
            $(this).toggleClass("hover")
            $(this).next().slideToggle("slow");
            if ($(this).hasClass("hover")) {
                $(".copyright").css("paddingBottom", "30px")
            } else {
                $(".copyright").css("paddingBottom", "140px")
            }
        })

        //  内页导航效果
        $(".navMeau .navMeaubar h2 strong").click(function () {
            $(".navMeau").toggleClass("hd")
        })

        jQuery(document).ready(function ($) {
            "use strict";
            $('#Default').perfectScrollbar();
        });

        function openM() {
            $(".centerBox").show();
        }
        setTimeout("openM()", 8000);//5000
        $('.mmcloseBtn').click(function () {
            $(".centerBox").hide();
            setTimeout("openM()", 100000);//1000
        });
    })
</script>




<script type="text/javascript" src="js/swt.js"></script>

</body>
</html>
