<include file="Public/header" />

<title>首页</title>

<div class="clear"></div>
<!--隐藏 轮播图-->
<div id="banner" class="banner" style="display: none">

    <div class="bd">
        <ul>

            <li style="background: url(__PUBLIC__/images/5992b64f11d76.jpg) no-repeat center top"><a href="http://sh.jingrui.cn/zt/2017qja/index.aspx" data-val='2' target="_blank"></a></li>

            <li style="background: url(__PUBLIC__/images/59883c39595c4.jpg) no-repeat center top"><a href=""  data-val='2' target="_blank"></a></li>

            <li style="background: url(__PUBLIC__/images/59423378117c7.jpg) no-repeat center top"><a href="" data-val='2' target="_blank"></a></li>

            <li style="background: url(__PUBLIC__/images/59310b5075fcf.jpg) no-repeat center top"><a href=""  data-val='2' target="_blank"></a></li>

            <li style="background: url(__PUBLIC__/images/5934f4441f591.jpg) no-repeat center top"><a href="" data-val='2' target="_blank"></a></li>

            <li style="background: url(__PUBLIC__/images/5934f47c77898.jpg) no-repeat center top"><a href="" data-val='2' target="_blank"></a></li>

            <li style="background: url(__PUBLIC__/images/594234084165e.jpg) no-repeat center top"><a href="" data-val='2' target="_blank"></a></li>

            <li style="background: url(__PUBLIC__/images/5942347235f03.jpg) no-repeat center top"><a href="" data-val='2' target="_blank"></a></li>

        </ul>
    </div>

    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
    <a class="prev" href="javascript:void(0)"></a>
    <a class="next" href="javascript:void(0)"></a>

</div>

<script id="jsID" type="text/javascript">

    jQuery(".banner").slide({ mainCell: ".bd ul", effect: "leftLoop", autoPlay: true, delayTime: 1500 });

</script>

<style>
    .addclassImgs{ position:relative;}
    .addclassImgsMain{ position:absolute;width:100%;height:100%;left:0;top:0;}
    .addclassImgsMain a{width:25%; float:left; display:table;height:100%;}
</style>
<div class="mainOne cen">
    <div class="mt40 addclassImgs">
        <img src="__PUBLIC__/images/m13.jpg" usemap="#Map" border="0">
        <div class="addclassImgsMain">
            <a  href="{:U('index/emptyPage')}"></a>
            <a  href="{:U('index/emptyPage')}"></a>
            <a  href="{:U('index/emptyPage')}"></a>
            <a  href="{:U('index/emptyPage')}"></a>
        </div>
    </div>
    <a class="Btns" id='SHPP002' data-val='2' href="tencent://message/?uin=605804679" >向老师咨询> </a>
</div>

<div class="mainTwo hd">
    <div class="mainTwoMain cen">
        <h2 class="title bg1"><font>名校名师</font>鼎立推荐</h2>
        <h3>共筑中国式个性化教育</h3>
        <p>
            “书味教育，梦想起航的地方！”
        </p>
        <a class="Btns" data-val='2' href="tencent://message/?uin=605804679" >了解更多> </a>

        <div id="slideBox" class="slideBox">
            <div class="hd">
                <ul>
                    <li class="on_1">小 <span class="arrow-up"></span></li>
                    <li class="on_2">中 <span class="arrow-up"></span></li>
                    <li class="on_3">高 <span class="arrow-up"></span></li>
                </ul>
            </div>
            <div class="bd">
                <ul>
                    <li>
                        <div>
                            <img src="__PUBLIC__/newImages/index/m17-1.png">
                        </div>
                    </li>
                    <li>
                        <img src="__PUBLIC__/newImages/index/m17-2.png">
                    </li>
                    <li>
                        <img src="__PUBLIC__/newImages/index/m17-3.png">
                    </li>
                </ul>
            </div>


        </div>

        <script id="Script1" type="text/javascript">
            jQuery(".slideBox").slide({ mainCell: ".bd ul", effect: "leftLoop", autoPlay: true });
        </script>

    </div>
</div>


<div class="mainThree hd">
    <div class="mainThreeMain cen">
        <h2 class="title bg2"><font>1对1冲刺</font> 1对3互动</h2>
        <div class="vsbox">
            <div class="vsboxImgs">
                <img src="__PUBLIC__/images/m20.jpg" data-original="images/m20.jpg" height="153" style="display: inline;">
            </div>
            <div class="vsboxMain cor1 fl">
                <strong>初三、高三毕业班冲刺</strong>
                <span>名校名师1对1定制教学，助力快速高效提升</span>
                <p>
                    中高考冲刺，拿高分优先选择1对1；
                    <br />
                    个性定制提升方案，针对性强，提升快；
                    <br />
                    全程1对1个性化跟踪辅导，掌握应试能力；<br />
                    任课教师、教务团队、班主任全程多对一。
                </p>

                <a class="Btns"href="tencent://message/?uin=605804679" >了解详情</a>
            </div>

            <div class="vsboxMain cor2 fr">
                <strong>小学、初中、高中非毕业班提升</strong>
                <span>个性化1对3, 一起提升</span>
                <p>
                    3人一班，减少学习压力，开拓思维；
                    <br />
                    同级同水平圈子，互相激发学习兴趣；<br />
                    量身定制个性化互动教案，直击薄弱环节。
                </p>
                <a class="Btns" href="tencent://message/?uin=605804679" >了解详情</a>
            </div>

        </div>
    </div>
</div>

<div class="setHeight"></div>
<!--设置 底部填充颜色-->
<script>
    $('.active').css("background",'#b71c20');
    $('.setHeight').css('background-color','#ebeae8')
</script>

<include file="Public/footer" />