<include file="Public/header" />

<title>首页</title>

<div class="clear"></div>
<div id="banner" class="banner">
    <div class="hd">
        <ul>


            <li class=""></li>


            <li class=""></li>


            <li class=""></li>


            <li class=""></li>


            <li class=""></li>


            <li class=""></li>


            <li class="on"></li>


            <li class=""></li>


            <li class=""></li>


        </ul>
    </div>
    <div class="bd">
        <ul>

            <!--<li style="background: url(__PUBLIC__/images/5992b64f11d76.jpg) no-repeat center top"><a href="http://sh.jingrui.cn/zt/2017qja/index.aspx" target="_blank"></a></li>-->
            <li style="background: url(__PUBLIC__/images/5992b64f11d76.jpg) no-repeat center top"><a href="http://sh.jingrui.cn/zt/2017qja/index.aspx" id='SHPP113' data-val='2' target="_blank"></a></li>

            <!--<li style="background: url(__PUBLIC__/images/59883c39595c4.jpg) no-repeat center top"><a href="" target="_blank"></a></li>-->
            <li style="background: url(__PUBLIC__/images/59883c39595c4.jpg) no-repeat center top"><a href="" id='SHPP113' data-val='2' target="_blank"></a></li>

            <!--<li style="background: url(__PUBLIC__/images/59423378117c7.jpg) no-repeat center top"><a href="" target="_blank"></a></li>-->
            <li style="background: url(__PUBLIC__/images/59423378117c7.jpg) no-repeat center top"><a href="" id='SHPP113' data-val='2' target="_blank"></a></li>

            <!--<li style="background: url(__PUBLIC__/images/59310b5075fcf.jpg) no-repeat center top"><a href="" target="_blank"></a></li>-->
            <li style="background: url(__PUBLIC__/images/59310b5075fcf.jpg) no-repeat center top"><a href="" id='SHPP113' data-val='2' target="_blank"></a></li>

            <!--<li style="background: url(__PUBLIC__/images/5934f4441f591.jpg) no-repeat center top"><a href="http://wxy.gongyi.k618.cn/index?from=groupmessage&isappinstalled=0" target="_blank"></a></li>-->
            <li style="background: url(__PUBLIC__/images/5934f4441f591.jpg) no-repeat center top"><a href="http://wxy.gongyi.k618.cn/index?from=groupmessage&isappinstalled=0" id='SHPP113' data-val='2' target="_blank"></a></li>

            <!--<li style="background: url(__PUBLIC__/images/5934f47c77898.jpg) no-repeat center top"><a href="http://www.jingrui.cn/pc/news-view.aspx?id=4339" target="_blank"></a></li>-->
            <li style="background: url(__PUBLIC__/images/5934f47c77898.jpg) no-repeat center top"><a href="http://www.jingrui.cn/pc/news-view.aspx?id=4339" id='SHPP113' data-val='2' target="_blank"></a></li>

            <!--<li style="background: url(__PUBLIC__/images/594234084165e.jpg) no-repeat center top"><a href="http://www.jingrui.cn/pc/news-view.aspx?id=4256" target="_blank"></a></li>-->
            <li style="background: url(__PUBLIC__/images/594234084165e.jpg) no-repeat center top"><a href="http://www.jingrui.cn/pc/news-view.aspx?id=4256" id='SHPP113' data-val='2' target="_blank"></a></li>

            <!--<li style="background: url(__PUBLIC__/images/5942347235f03.jpg) no-repeat center top"><a href="http://sh.jingrui.cn/pc/news-view.aspx?id=4209" target="_blank"></a></li>-->
            <li style="background: url(__PUBLIC__/images/5942347235f03.jpg) no-repeat center top"><a href="http://sh.jingrui.cn/pc/news-view.aspx?id=4209" id='SHPP113' data-val='2' target="_blank"></a></li>


        </ul>
    </div>

    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
    <a class="prev" href="javascript:void(0)"></a>
    <a class="next" href="javascript:void(0)"></a>

</div>

<script id="jsID" type="text/javascript">jQuery(".banner").slide({ mainCell: ".bd ul", effect: "leftLoop", autoPlay: true, delayTime: 1500 });</script>

<style>
    .addclassImgs{ position:relative;}
    .addclassImgsMain{ position:absolute;width:100%;height:100%;left:0;top:0;}
    .addclassImgsMain a{width:25%; float:left; display:table;height:100%;}
</style>
<div class="mainOne cen">
    <div class="mt40 addclassImgs">
        <img src="__PUBLIC__/images/m13.jpg?v20170605" usemap="#Map" border="0">
        <div class="addclassImgsMain">
            <a  href="/zt/2017qja/index.aspx"></a>
            <a  href="/zt/2017qja/index.aspx"></a>
            <a  href="/zt/2017qja/index.aspx"></a>
            <a  href="/zt/2017qja/index.aspx"></a>
        </div>
    </div>
    <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP002' data-val='2' >向老师咨询  > </a>
</div>

<div class="mainTwo hd">
    <div class="mainTwoMain cen">
        <h2 class="title bg1"><font>哈佛北大</font> 精英创立</h2>
        <h3>打造中国倍受信赖的个性化教育品牌</h3>
        <p>

            <br />
            “来精锐，做学霸！”<br/>精锐学霸导师，来自北大、清华、北师大等师范类院校本科硕士学霸！独创i精锐•学习力提升系统，全新O2O智能学习平台。
        </p>
        <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SHPP003' data-val='2' >了解更多 > </a>



        <div id="slideBox" class="slideBox">
            <div class="hd">
                <ul>
                    <li class="on_1">小 <span class="arrow-up"></span></li>
                    <li class="on_2">中 <span class="arrow-up"></span></li>
                    <li class="on_3">高 <span class="arrow-up"></span></li>
                </ul>
            </div>
            <div class="bd">
                <ul>
                    <li>
                        <img src="__PUBLIC__/images/m17-1.jpg">
                    </li>
                    <li>
                        <img src="__PUBLIC__/images/m17-2.jpg">
                    </li>
                    <li>
                        <img src="__PUBLIC__/images/m17-3.jpg">
                    </li>
                </ul>
            </div>


        </div>

        <script id="Script1" type="text/javascript">
            jQuery(".slideBox").slide({ mainCell: ".bd ul", effect: "leftLoop", autoPlay: true });
        </script>




    </div>
</div>


<div class="mainThree hd">
    <div class="mainThreeMain cen">
        <h2 class="title bg2"><font>1对1冲刺</font> 1对3互动</h2>
        <h3>独创高效教学模式</h3>
        <div class="vsbox">
            <div class="vsboxImgs">
                <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/m20.jpg" height="153">
            </div>
            <div class="vsboxMain cor1 fl">
                <strong>初三、高三毕业班冲刺</strong>
                <span>学霸导师1对1定制教学，助力快速高效提升</span>
                <p>
                    中高考冲刺，拿高分优先选择1对1；
                    <br />
                    个性定制提升方案，针对性强，提升快；
                    <br />
                    全程1对1个性化跟踪辅导，掌握应试能力；<br />
                    任课教师、教务团队、班主任全程多对一。
                </p>

                <a class="Btns" href="1v1.aspx"  id='SHPP004' data-val='2' >了解详情 > </a>
            </div>

            <div class="vsboxMain cor2 fr">
                <strong>小学、初中、高中非毕业班提升</strong>
                <span>个性化1对3,哈佛案例互动教学, 一起提升</span>
                <p>
                    3人互动，减少学习压力，开拓思维；
                    <br />
                    哈佛案例教学法，全面梳理知识体系；
                    <br />
                    精英学习圈子，互相激发学习兴趣；<br />
                    量身定制个性化互动教案，直击薄弱环节。
                </p>

                <a class="Btns" href="1v3.aspx"  id='SHPP005' data-val='2' >了解详情 > </a>
            </div>

            <div class="clear"></div>
            <div class="ups">
                <img src="__PUBLIC__/images/m22.jpg" />
            </div>
            <p class="ctns">个性化教学与科学的课程设计，将学习力付诸实践，学习才能事半功倍</p>
            <div class="tables">
                <table width="100%" border="0" cellspacing="1" cellpadding="0">
                    <tr>
                        <td style="background: #0a90cf; width: 33.33333%; height: 96px; font-size: 24px;">小学年级</td>
                        <td style="background: #16b7b5; width: 33.33333%; height: 96px; font-size: 24px;">初中年级</td>
                        <td style="background: #f7bf36; height: 96px; font-size: 24px;">高中年级</td>
                    </tr>
                    <tr class="classm">
                        <td style="text-align: center;"><span>语文</span><span>数学</span><span>英语</span></td>

                        <td style="text-align: center;"><span>语文</span><span>数学</span><span>英语</span>


                            <span>物理</span><span>化学</span></td>

                        <td><span>语文</span><span>数学</span><span>英语</span><span>物理</span><span>化学</span><span>历史</span><span>地理</span></td>

                    </tr>
                    <tr class="classm">
                        <td class="bgtab1">
                            <p><i></i>培养量化学习习惯的重要阶段。</p>
                            <p><i></i>启发孩子思维，为成长奠定良好基础 </p>
                            <p><i></i>精锐自创的TCT模块教学法，从兴趣出发，涵盖全部课程，加强专题知识，培养考试能力。</p>
                        </td>
                        <td class="bgtab2">
                            <p><i></i>知识内容增加，中考压力临近，考试成绩很关键；</p>
                            <p><i></i>TCT模块教学法有助于学员掌握新知识，建立完整的知识体系； </p>
                            <p><i></i>在学习力跟踪体系中，找到欠缺的部分，完善能力，全面掌握学习技巧。</p>
                        </td>
                        <td class="bgtab3">
                            <p><i></i>人生冲刺的关键阶段。学科更丰富，知识更深入，易产生瓶颈；</p>
                            <p><i></i>TCT模块知识教学法更快吸收新知识，整理学科模块，掌握解题技巧，突破瓶颈； </p>
                            <p><i></i>学习力跟踪体系，培养自我分析的能力，并通过适合自己的学习方法，快乐高效面对高考。</p>
                        </td>
                    </tr>
                    <tr class="classm">
                        <td class="bgtab1">
                            <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP006' data-val='2' >免费咨询小升初辅导方案 </a>
                            <p><i></i>提供小升初政策解析；择校简历；面试指导；</p>
                            <p><i></i>整理学校课程知识点，充实学习基础 ;</p>
                            <p><i></i>提供数学，英语，作文等专题针对性训练；</p>
                        </td>
                        <td class="bgtab2">
                            <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP007' data-val='2' >免费咨询中考辅导方案 </a>
                            <p><i></i>提供中考政策解析，志愿填报指导；</p>
                            <p><i></i>把握中考命题脉络, 深入透析中考重点、难点、考点； </p>
                            <p><i></i>整理学校课程知识点，建立知识体系；</p>
                            <p><i></i>通过名校模拟考习题、中考真题训练，强化应试能力 ;</p>
                        </td>
                        <td class="bgtab3">
                            <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP008' data-val='2' >免费咨询高考辅导方案 </a>
                            <p><i></i>提供高考政策解析，志愿填报指导，自主招生简历、面试指导；</p>
                            <p><i></i>剖析命题规律，带来高考前沿资讯、应考策略、应考心理指导；</p>
                            <p><i></i>应考答题规则帮助学员建立学科知识体系，填补短板，提升长处；</p>
                            <p><i></i>通过名校模拟考习题、高考真题训练，针对性提升解题技巧；</p>
                        </td>
                    </tr>
                </table>

                <div class="nubs">
                    <img class="tab1" src="__PUBLIC__/images/tab1.png" /><strong>热线咨询 400-883-8062</strong>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="mainfourMain cen">
    <h2 class="title bg1"><font>实力研发团队</font>+<font>学霸导师=</font>学习力王国</h2>
    <h3>专业研发   把握中高考趋势 打造学习力王国
        <br />
        精锐学霸导师 实力铸就品牌</h3>
    <ul class="navssv">
        <li>
            <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/m24.jpg">
            <div>
                <strong>熊丙奇</strong>
                <span>21世纪教育发展研究院副院长</span>
                <dl class="dlb" style='min-height:230px;'>
                    <dt>业界背景</dt>
                    <dd>
                        <p>

                            21世纪教育发展研究院副院长；<br />
                            上海交通大学博士；<br />
                            中国教育报、中国青年报、南方都市报、北京青年报等全国性媒体教育专栏作者；<br />
                            央广网评选“2014中国教育变革人物”、搜狐网“中国教育推动者”

                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>学术成就</dt>
                    <dd>
                        <p>主编、编著图书20种30版次，包括《步入大学》、《成功宝典——从小学到大学》、《走过高中》、《教育的挑战》等</p>
                    </dd>
                </dl>
                <a style="display:none;" class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP009' data-val='2' >向老师咨询  > </a>
            </div>
        </li>

        <li>
            <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/m25.jpg">
            <div>
                <strong>陈必祥</strong>
                <span>华师大中文系教授</span>
                <dl class="dlb">
                    <dt>业界背景</dt>
                    <dd>
                        <p>
                            华东师范大学中文系教授；<br />
                            《咬文嚼字》顾问；<br />
                            《魅力汉语》执行编委

                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>学术成就</dt>
                    <dd>
                        <p>著有《古今字和通假字》、《古代散文文体概论》、《欧阳修文选》等;<br />
                            主编《中国现代语文教育发展史》、《世界五千年》;<br />
                            发表有关中学语文教育论文五十余篇
                        </p>
                    </dd>
                </dl>
                <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP010' data-val='2' >向老师咨询  > </a>
            </div>
        </li>

        <li>
            <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/m26.jpg">
            <div>
                <strong>范耀祖  </strong>
                <span>多年重点中学校长</span>
                <dl class="dlb">
                    <dt>业界背景</dt>
                    <dd>
                        <p>
                            中国教育学会会员；<br />
                            曾任中学数学教学研究会副会长；<br />
                            中国数学学会“数学奥林匹克”一级教练；<br />
                            1982年起任重点中学校长；<br />
                            曾被评为全国“中学高级教师”、省级“优秀教师”；<br />
                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>学术成就</dt>
                    <dd>
                        <p>主编高三数学教学和数学高考系列丛书《高分直通车》；<br />
                            曾在省市级教育学会发表关于数学教学的论文
                        </p>
                    </dd>
                </dl>
                <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP011' data-val='2' >向老师咨询  > </a>
            </div>
        </li>

        <li style="margin-right: 0;">
            <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/m27.jpg">
            <div>
                <strong>肖果能  </strong>
                <span>中南大学数学系教授</span>
                <dl class="dlb">
                    <dt>业界背景</dt>
                    <dd>
                        <p>
                            中南大学铁道校区数学系教授；<br />
                            中国数学奥林匹克高级教练员；<br />
                            第29届全俄数学奥林匹克竞赛中国队领队；<br />
                            曾参加1997年全国高中数学联赛命题

                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>学术成就</dt>
                    <dd>
                        <p>
                            1987年国家教委科技进步奖二等奖；<br />
                            国家新闻出版署第七届全国优秀科技图书二等奖

                        </p>
                    </dd>
                </dl>
                <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP012' data-val='2' >向老师咨询  > </a>
            </div>
        </li>
    </ul>


    <div class="clear"></div>
    <div class="tfls">
        <ul>
            <li style="width:515px;padding:5px 0 5px 40px;">来自清华、北大、北师大等师范类院校本科硕士学霸；</li>
            <li style="padding:5px 0 5px 40px;">部分取得哈佛大学教育学院课程培训认证；</li>
            <li style="padding:5px 0 5px 40px;">严格控制录取率及通过考试淘汰制培养出的优秀教师；</li>
        </ul>
    </div>


    <div class="teacher picScroll" id="picScroll">
        <ul>



            <li>
                <div class="boximg">
                    <img src="__PUBLIC__/images/teacherImg23.png" />
                </div>
                <div class="teacherText">
                    <strong>刘杰 <font>高级教师</font></strong>
                    <p>精锐语文高级教研员，16年度新浪教育五星金牌教师。从学生的认知出发，引导学生在生疑解惑中产生学习动力以及兴趣。</p>
                    <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP014' data-val='2' >向老师咨询   > </a>
                </div>
            </li>

            <li>
                <div class="boximg">
                    <!-- <img src="__PUBLIC__/images/teacherImg3.png" /> -->
                    <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/teacherImg3.png">
                </div>
                <div class="teacherText">
                    <strong>徐美 <font>英语教研经理</font></strong>
                    <p>重点师范大学英语教育专业，英语专业八级。主编1smart英语学法，高效培养学生的考试技巧及能力。</p>
                    <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP015' data-val='2' >向老师咨询   > </a>
                </div>
            </li>

            <li>
                <div class="boximg">
                    <!--  <img src="__PUBLIC__/images/teacherImg4.png" /> -->
                    <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/teacherImg4.png">
                </div>
                <div class="teacherText">
                    <strong>王铮 <font>数学教研经理</font></strong>
                    <p>深入研究高考命题趋势，帮助学生准确把握高考考点，在激情与希望中助力攻克高考数学难关！</p>
                    <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP016' data-val='2' >向老师咨询   > </a>
                </div>
            </li>



            <li>
                <div class="boximg">
                    <!--<img src="__PUBLIC__/images/teacherImg6.png" /> -->
                    <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/teacherImg6.png">
                </div>
                <div class="teacherText">
                    <strong>陈二娇 <font>英语教研经理</font></strong>
                    <p>教学风格轻松活泼，注重教学方法的创新，擅长发现学生的优点并融入到课堂教学中，引导学生积极思维，助力学生提升英语学习效率。</p>
                    <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP017' data-val='2' >向老师咨询   > </a>
                </div>
            </li>

            <li>
                <div class="boximg">
                    <!-- <img src="__PUBLIC__/images/teacherImg7.png" /> -->
                    <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/teacherImg7.png">
                </div>
                <div class="teacherText">
                    <strong>詹文斌 <font>数学教研经理</font></strong>
                    <p>擅长在实践教学中归纳应试技巧，讲课思路清晰、重视基础、技巧性强，能够让学生学会实用的答题技巧，帮助学生在学习数学过程中找到自信和希望！</p>
                    <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP018' data-val='2' >向老师咨询   > </a>
                </div>
            </li>

            <li>
                <div class="boximg">
                    <!--<img src="__PUBLIC__/images/teacherImg8.png" /> -->
                    <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/teacherImg8.png">
                </div>
                <div class="teacherText">
                    <strong>余杏红 <font>语文教研经理</font></strong>
                    <p>从事初中语文教学工作近二十年，专业能力强，根据不同类型的学生进行不同的学法指导，教学风格深入浅出、严谨高效。</p>
                    <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP019' data-val='2' >向老师咨询   > </a>
                </div>
            </li>

            <li>
                <div class="boximg">
                    <!-- <img src="__PUBLIC__/images/teacherImg9.png" /> -->
                    <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/teacherImg9.png">
                </div>
                <div class="teacherText">
                    <strong>孙莹 <font>英语教研经理</font></strong>
                    <p>渤海大学英语教育硕士学位，英语专业八级；从事中学英语教学与研究十多年，专业知识扎实，教学经验丰富，善于总结归纳备考解题技巧。</p>
                    <a class="Btns" href="javascript:void(0);" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SHPP020' data-val='2' >向老师咨询   > </a>
                </div>
            </li>
        </ul>
        <a class="prev" href="javascript:void(0)" target="_self"></a><a class="next" href="javascript:void(0)" target="_self"></a>
    </div>
    <script type="text/javascript">jQuery("#picScroll").slide({ mainCell: "ul", autoPlay: true, effect: "left", vis: 4, scroll: 1, autoPage: true });</script>
</div>


<!--  明星学员 star  -->

<!--  明星学员 end  -->


<div class="mainsixMain cen">
    <h2 class="title bg1"><font>荣誉</font>奖项</h2>
    <h3>精锐教育集团的实力证明</h3>

    <div class="mainsixMainText hd">
        <div id="Default" class="contentHolder">
            <div class="content">
                <div class="mainsixMainUL hd">
                    <div class="mainsixMainUL-left fl">
                        <ul>
                            <li class="bc12">
                                <i class="bcr"></i>

                                <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/bc12.jpg">
                                <p>2016年12月，精锐教育集团荣获网易“金翼奖”之“2016年度具综合实力教育集团”称号</p>
                            </li>

                            <li class="bc10">
                                <i class="bcr"></i>

                                <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/bc10.jpg">
                                <p>2016年9月，精锐教育集团荣获“2016新浪五星金牌教师·全国优秀教研团队”等殊荣。</p>
                            </li>

                            <li class="bc6">
                                <i class="bcr"></i>
                                <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/bc6.jpg">
                                <p>2015“回响中国”腾讯网教育年度总评榜荣耀盛典上，精锐教育荣获3项荣誉：实力教育品牌、用户口碑教辅品牌、优选儿童教育品牌。</p>
                                <!-- <img src="__PUBLIC__/images/bc6.jpg" /> -->

                            </li>
                            <li class="bc7">
                                <i class="bcr"></i>
                                <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/bc7.jpg">
                                <p>2015年度大众点评网“我喜爱的培训机构”评选大赛，精锐教育荣获2015年度十佳升学辅导培训机构”桂冠。</p>
                                <!--  <img src="__PUBLIC__/images/bc7.jpg" /> -->

                            </li>
                            <li class="bc8">
                                <i class="bcr"></i>
                                <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/bc8.jpg">
                                <p>2014年5月20日，精锐教育集团在京华时报举办的“教育开启未来—2014京华教育盛典”中被评为“2014京华教育盛典具影响力教育集团”。</p>
                                <!--<img src="__PUBLIC__/images/bc8.jpg" /> -->

                            </li>
                            <li class="bc9">
                                <i class="bcr"></i>
                                <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/bc9.jpg">
                                <p>2012年，精锐教育集团在腾讯网举办的“2012回响中国”活动中被评为“2012中国具竞争力教育品牌”以及“2012中国十大教育辅导机构”。</p>
                                <!--  <img src="__PUBLIC__/images/bc9.jpg" /> -->

                            </li>

                        </ul>
                    </div>
                    <div class="mainsixMainUL-cen fl">
                        <img src="__PUBLIC__/images/bcg.jpg" />
                    </div>
                    <div class="mainsixMainUL-right fr">
                        <ul>
                            <li class="bc11">
                                <i class="bcl"></i>
                                <p>腾讯“回响中国”之“2016年度家长信赖教辅品牌”称号</p>
                                <!-- <img src="__PUBLIC__/images/bc6.jpg" /> -->
                                <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/bc11.jpg">
                            </li>

                            <li class="bc1">
                                <i class="bcl"></i>
                                <!-- <img src="__PUBLIC__/images/bc1.jpg" /> -->
                                <p>2015年11月26日，精锐教育集团荣获2015新浪教育盛典“2015中国品牌影响力教育集团”大奖。</p>
                                <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/bc1.jpg">

                            </li>
                            <li class="bc2">
                                <i class="bcl"></i>
                                <!-- <img src="__PUBLIC__/images/bc2.jpg" /> -->
                                <p>2015年度新闻晨报教育盛典，精锐荣获年度“上海具影响力教育集团”及“上海优秀学科辅导机构”两项大奖。</p>
                                <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/bc2.jpg">

                            </li>
                            <li class="bc3">
                                <i class="bcl"></i>
                                <!-- <img src="__PUBLIC__/images/bc3.jpg" /> -->
                                <p>2014年11月27日，由新浪教育频道主办的“2014中国教育盛典”在北京举行，精锐教育成功斩获新浪“2014年度具投资价值教育连锁机构”。</p>
                                <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/bc3.jpg">

                            </li>
                            <li class="bc4">
                                <i class="bcl"></i>
                                <!-- <img src="__PUBLIC__/images/bc4.jpg" /> -->
                                <p>2013年9月，精锐教育集团在2013新浪中小学课外教育五星金牌教师评选中获得“全国十大课外教育五星金牌机构”殊荣！</p>
                                <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/bc4.jpg">

                            </li>
                            <li class="bc5">
                                <i class="bcl"></i>
                                <!--   <img src="__PUBLIC__/images/bc5.jpg" /> -->
                                <p>2011年12月，精锐教育被评为" 2011年度扬子晚报教育示范品牌"、" 2011年度具诚信力教育品牌 "、" 2012年度具影响力教育品牌"。</p>
                                <img src="__PUBLIC__/images/grey.gif" data-original="__PUBLIC__/images/bc5.jpg">

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="Btns" href="honorprice.aspx">了解更多 >  </a>
</div>




<div class="mainseven">
    <div class="mainsevenMain cen">
        <h2 class="title bg1"><font>i精锐·</font>学习管家</h2>
        <h3>学生的好帮手  &nbsp; 家长的好管家</h3>
        <div class="mainsixMainText">
            <div class="mainsevenMainText2">
                 <img src="__PUBLIC__/images/m43.jpg" />
                <a href="#"><strong>热线咨询</strong> 400-883-8062</a>
            </div>
        </div>
    </div>
</div>

<div class="maineightMain cen">
    <h2 class="title bg1">先进教学体系 <font>六大学习保障</font> 有助全面提升学习成绩</h2>
    <h3>i精锐·学习力提升系统8.0</h3>
    <div class="maineightMainText">
        <dl class="dl_1 right">
            <dt>PLI学习力智能测评</dt>
            <dd>在线学习力智能测评系统，在学习动力，学习能力，学习毅力三大方面13个维度全方位分析学生类型，迅速把脉学生特点及不足</dd>
        </dl>

        <dl class="dl_2 left">
            <dt>学霸导师</dt>
            <dd>来自清华、北大、北师大等师范类院校本科硕士学霸。线下专业教学，线上答疑指导，将学霸经验融入教学，提升学习能力</dd>
        </dl>

        <dl class="dl_3 right">
            <dt>360°O2O专属服务</dt>
            <dd>专属家长会、班主任全程跟踪，陪读课堂、精锐辅修课、心理咨询、辅修课、VIP尊享等特色服务，为学习效果保驾护航</dd>
        </dl>


        <dl class="dl_4 left">
            <dt>大数据定制高效学法</dt>
            <dd>全新i精锐·智能教学资源平台，拥有海量真题教案库，运用大数据量身定制高效学法，使每个学员得到高质量的教案</dd>
        </dl>

        <dl class="dl_5 right">
            <dt>i精锐·学习管家</dt>
            <dd>通过i精锐·学习管家，实现家校实时互动，家长在家即可轻松了解学员在校情况，并与老师随时沟通</dd>
        </dl>

        <dl class="dl_6 left">
            <dt>私人独立书房</dt>
            <dd>借鉴美国哈佛大学风格打造独立教室，利于学生集中注意力，课后可在精锐乐园放松休息。寓教于乐的环境激发学员的学习动力</dd>
        </dl>
    </div>
</div>


<include file="Public/indexFooter" />