<include file="Public/header" />
<title>最新咨询</title>

<div  class="newsNav">
    <ul class="cen">
        <li><a href="ceo.aspx">学霸之路</a><i></i></li>
        <li><a href="about.aspx">关于精锐</a><i></i></li>
        <li><a href="culture.aspx">精锐文化</a><i></i></li>

        <li ><a href="honorprice.aspx">荣誉奖项</a><i></i></li>

        <li class="hover"><a href="news.aspx">最新资讯</a><i></i></li>
    </ul>
</div>

<h2 class="ntitle nc1">最新资讯</h2>
<div class="on5Main cen hd">
    <ul>
        <li>
            <img class='on_pic' width=180 height=130 src='__PUBLIC__/images/cutestar/5979b964ba10e.jpg' />
            <dl><dt><span>2017-07-27</span>
                <a href='news-view.aspx?id=4352'>精锐教育助力中欧戈友会征战戈壁凯旋归来，商界大咖共话教育</a>
            </dt>
                <dd>
                    <p>2017年7月8日，中欧戈12回归日庆典在苏州隆重举行。精锐教育助力中欧戈友会征战“玄奘之路”第十二届商学院戈壁挑战赛及戈友回归庆典，传递坚持、超越、团队、爱心陪伴等戈壁精神和公益正能量，并与中欧戈友会联袂呈现“戈二代教育说”分享会，用以身作则的方式教育下一代。</p>
                    <a href='news-view.aspx?id=4352'><img src='__PUBLIC__/images/on8.png' />查看详情</a>
                </dd>
            </dl>
        </li> <li>
        <img class='on_pic' width=180 height=130 src='__PUBLIC__/images/cutestar/596c889d37210.jpg' />
        <dl><dt><span>2017-07-17</span>
            <a href='news-view.aspx?id=4349'>精锐教育中高考菁英学员颁奖典礼，邀您共同见证青春的足迹！</a>
        </dt>
            <dd>
                <p>每一年的中高考，对于无数的莘莘学子来说都是一场战役，三年的埋头苦读，三年的广泛积累，三年的奋笔疾书，都是为了能够在这场考试中脱颖而出。
                    考试结束了，青春开始了，人生又将走向一个全新的阶段，新的学习环境，新的伙伴，有惊喜，有挑战！</p>
                <a href='news-view.aspx?id=4349'><img src='__PUBLIC__/images/on8.png' />查看详情</a>
            </dd>
        </dl>
    </li> <li>
        <img class='on_pic' width=180 height=130 src='__PUBLIC__/images/cutestar/5954b9135f1af.jpg' />
        <dl><dt><span>2017-06-29</span>
            <a href='news-view.aspx?id=4348'>新初高三校长推荐课程</a>
        </dt>
            <dd>
                <p>毕业班骨干学霸师资亲授
                    丰富毕业班带教经验及押题经验，
                    全国3000学霸导师，直击考点，
                    助力中高考提升。
                </p>
                <a href='news-view.aspx?id=4348'><img src='__PUBLIC__/images/on8.png' />查看详情</a>
            </dd>
        </dl>
    </li> <li>
        <img class='on_pic' width=180 height=130 src='__PUBLIC__/images/cutestar/593e3969e24a9.jpg' />
        <dl><dt><span>2017-06-12</span>
            <a href='news-view.aspx?id=4346'>中国教育电视台三频道《加油吧，考生》——《中考总动员》节目即将开播，千万不能错过！</a>
        </dt>
            <dd>
                <p>高考即将结束了，中考还会远吗？
                    对于绝大多数中学生来说，中考的意义甚至比高考更重大。
                    今年备考需要把握哪些重点、难点？如何做好中考前的心理辅导工作给心理解压？
                    只有吃的对，才能考得更好，中考饮食该如何安排？
                    临近中考，家长应该怎么做才能兼顾自己的担心与孩子的焦虑？
                    中国教育电视台三频道《加油吧，考生》与精锐教育强强联合，重磅打造《中考总动员》特别节目，为您奉上最实用、最贴心的服务，助力中考学生金榜题名！</p>
                <a href='news-view.aspx?id=4346'><img src='__PUBLIC__/images/on8.png' />查看详情</a>
            </dd>
        </dl>
    </li> <li>
        <img class='on_pic' width=180 height=130 src='__PUBLIC__/images/cutestar/592fc0725653a.jpg' />
        <dl><dt><span>2017-06-01</span>
            <a href='news-view.aspx?id=4344'>​6月3日“中考总动员”讲座报名啦！</a>
        </dt>
            <dd>
                <p>中考冲刺进入倒计时了，学生如何抓住最后的复习时间奋力一搏？今年备考需要把握哪些重点、难点？作为家长又该怎样给孩子最好的支持？

                    中考日益临近，九年磨一剑，考生可能还迷失在一次次考试中，家长们也变得日益焦灼，6月3日下午（本周六）下午13:00由中国教育电视台三频道《加油吧 考生》栏目主办、精锐教育协办、北京石油附属中学承办的“中考总动员”大型公益活动在北京市石油附属中学多功能厅开启，为学生家长提供全方位的指导和帮助。</p>
                <a href='news-view.aspx?id=4344'><img src='__PUBLIC__/images/on8.png' />查看详情</a>
            </dd>
        </dl>
    </li> <li>
        <img class='on_pic' width=180 height=130 src='__PUBLIC__/images/cutestar/592e8eaa89fff.jpg' />
        <dl><dt><span>2017-05-31</span>
            <a href='news-view.aspx?id=4343'>“微心愿•手牵手”爱心帮扶活动，在精锐教育正式启航！</a>
        </dt>
            <dd>
                <p>团中央网络影视中心以未来网为平台，携手爱心单位精锐教育，发起“微心愿 手牵手”爱心帮扶圆梦行动，活动收集了山东、云南、贵州、四川、新疆五地100多位农村留守儿童心愿，时值中国传统节日—端午节来临之际，精锐教育学员与12名来自全国各地的农村留守儿童相聚精锐教育（北京）王府井学习中心，精锐教育的老师和学员们为了迎接留守儿童的到来，准备了礼物并且精心策划了“端午节特别活动”，在温馨快乐的氛围里精锐教育的学员不仅带领留守儿童参观了王府井学习中心，并且在老师的带领下共同动手制作端午节传统食品—粽子。</p>
                <a href='news-view.aspx?id=4343'><img src='__PUBLIC__/images/on8.png' />查看详情</a>
            </dd>
        </dl>
    </li> <li>
        <img class='on_pic' width=180 height=130 src='__PUBLIC__/images/cutestar/5927dd9f1d345.jpg' />
        <dl><dt><span>2017-05-26</span>
            <a href='news-view.aspx?id=4342'>上海市教育发展基金会精锐教育奖学金颁发，助力专业师资培养！</a>
        </dt>
            <dd>
                <p>2017年5月17日下午，“上海市教育发展基金会2016年度精锐教育奖学金”颁发仪式于精锐未来学校隆重举行，这也是精锐教育与上海市教育发展基金会颁奖的第7年，精锐教育迄今为止向上海市教育发展基金会累计捐助达500多万元。颁奖活动更为与会的领导、嘉宾与学生们搭建起近距离、开放式的交流平台，探讨教育理念、实践与未来，共同推动教育事业的发展</p>
                <a href='news-view.aspx?id=4342'><img src='__PUBLIC__/images/on8.png' />查看详情</a>
            </dd>
        </dl>
    </li> <li>
        <img class='on_pic' width=180 height=130 src='__PUBLIC__/images/cutestar/592520640a7c2.jpg' />
        <dl><dt><span>2017-05-24</span>
            <a href='news-view.aspx?id=4340'>“精锐﹒中国少年说”演讲及辩论赛全国启动，打造6000万初中生魅力舞台</a>
        </dt>
            <dd>
                <p>3月10日，由共青团中央影视中心主办、未来网承办、精锐教育协办的“中国少年说”全国中学生演讲大赛/辩论大赛启动仪式在北京隆重举行！</p>
                <a href='news-view.aspx?id=4340'><img src='__PUBLIC__/images/on8.png' />查看详情</a>
            </dd>
        </dl>
    </li> <li>
        <img class='on_pic' width=180 height=130 src='__PUBLIC__/images/cutestar/59251b1f6e0fb.jpg' />
        <dl><dt><span>2017-05-24</span>
            <a href='news-view.aspx?id=4339'>联合国教科文组织比较教育资深教授、香港大学Mark Bray教授一行来访精锐教育</a>
        </dt>
            <dd>
                <p>2017年4月18日，联合国教科文组织比较教育资深教授，香港大学教育学院比较教育研究中心主任Mark Bray教授及Ora Kwo副教授等一行人来精锐参观考察，全面了解精锐先进的教育理念、丰富的教学经验、完善的服务体系等，并寻求双方的长期对话与合作，共同推动民办教育行业的持续健康发展。精锐教育创始人兼CEO张熙先生、总经理范耀祖先生全程陪同。</p>
                <a href='news-view.aspx?id=4339'><img src='__PUBLIC__/images/on8.png' />查看详情</a>
            </dd>
        </dl>
    </li> <li>
        <img class='on_pic' width=180 height=130 src='__PUBLIC__/images/cutestar/59251877a40ba.jpg' />
        <dl><dt><span>2017-05-24</span>
            <a href='news-view.aspx?id=4338'>精锐教育荣获中国教育学会首批辅导机构教师专业水平等级认证试点单位，教师等级认证正式开展！</a>
        </dt>
            <dd>
                <p>2017年4月，中国教育学会辅导机构教师专业水平等级认证项目精锐试点工作启动仪式隆重举行，精锐教育被授予首批试点单位。精锐教育学习力研究院院长范耀祖应邀成为评价项目专家，与中国教育学会的专家共同制定评价标准，助力教辅行业发展。目前，辅导机构教师中高级评级已经正式展开，精锐教育200多位教师进行高级认证！</p>
                <a href='news-view.aspx?id=4338'><img src='__PUBLIC__/images/on8.png' />查看详情</a>
            </dd>
        </dl>
    </li>

    </ul>
</div>

<!-- Page -->
<div class="onpage cen ort hd">
    <a class="per" href="news.aspx?page=1">上一页</a><ul>
    <li class="hover"><a href="news.aspx?page=1">1</a></li><li><a href="news.aspx?page=2">2</a></li><li><a href="news.aspx?page=3">3</a></li><li><a href="news.aspx?page=4">4</a></li><li><a href="news.aspx?page=5">5</a></li><li><a href="news.aspx?page=6">6</a></li><li><a href="news.aspx?page=7">7</a></li><li><a href="news.aspx?page=8">8</a></li><li><a href="news.aspx?page=9">9</a></li><li><a href="news.aspx?page=10">10</a></li><li><a href="news.aspx?page=11">11</a></li></ul>
    <a class="next" href="news.aspx?page=2">下一页</a>
</div>
<!-- Page /-->
<div class="nad"><a href="#"></a></div>

<include file="Public/footer" />