<include file="Public/header" />
<link href="__PUBLIC__/css/style_v2.css" rel="stylesheet" type="text/css" />


<!--<div>-->
    <!--<img src="__PUBLIC__/images/banner.jpg" style="width:100%;">-->
<!--</div>-->


<div class="alltitle" style="margin-top: 60px">
    <div class="ovstitle">
    </div>
    <div class="ovstitleMain">
        <div class="otable">
            <div class="otablesCell">
                <p><strong>您的孩子学习顺利吗？</strong></p>
            </div>
        </div>
    </div>
</div>
<div class="oVSescore cen">

    <ul>
        <li><img src="__PUBLIC__/images/ipic1.png"/><p>应试教育太枯燥，<br>
            学习没兴趣？</p>
            <a href="tencent://message/?uin={$qq}" id='SH1v3002' data-val='2'  data-val='2'>
                <img src="__PUBLIC__/images/con1.png"/>来书味，给学习加点滋味
        </a></li>
        <li><img src="__PUBLIC__/images/ipic2.png"/><p>每日刻苦学习，<br>
            成绩却始终不见提升？</p>
            <a href="tencent://message/?uin={$qq}" id='SH1v3003' data-val='2'  data-val='2'>
                <img src="__PUBLIC__/images/con1.png"/>来书味，找准学习方法
        </a></li>
        <li><img src="__PUBLIC__/images/ipic3.png"/><p>小有提升就满足，<br>
            学习动力难持久？</p>
            <a href="tencent://message/?uin={$qq}" id='SH1v3004' data-val='2'   data-val='2'><img src="__PUBLIC__/images/con1.png"/>
                来书味，告别学习膨胀
        </a></li>

    </ul>


</div>

<include file="Public/footer" />