<include file="Public/header" />
<link href="__PUBLIC__/css/style_v2.css" rel="stylesheet" type="text/css" />

<title>最新咨询</title>

<div><img src="__PUBLIC__/images/banner.jpg" style="width:100%;"></div>


<div class="alltitle">
    <div class="ovstitle">
    </div>
    <div class="ovstitleMain">
        <div class="otable">
            <div class="otablesCell">
                <p><strong>您的孩子学习顺利吗？</strong></p>
            </div>
        </div>
    </div>
</div>
<div class="oVSescore cen">

    <ul>
        <li><img src="__PUBLIC__/images/ipic1.png"/><p>应试教育太枯燥，<br>
            学习没兴趣？</p><a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"   id='SH1v3002' data-val='2'  data-val='2'><img src="__PUBLIC__/images/con1.png"/>来精锐，给学习加点滋味
        </a></li>
        <li><img src="__PUBLIC__/images/ipic2.png"/><p>每日刻苦学习，<br>
            成绩却始终不见提升？</p><a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SH1v3003' data-val='2'  data-val='2'><img src="__PUBLIC__/images/con1.png"/>来精锐，找准学习方法
        </a></li>
        <li><img src="__PUBLIC__/images/ipic3.png"/><p>小有提升就满足，<br>
            学习动力难持久？</p><a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"   id='SH1v3004' data-val='2'   data-val='2'><img src="__PUBLIC__/images/con1.png"/>来精锐，告别学习膨胀
        </a></li>

    </ul>


</div>

<div class="alltitle m20">
    <div class="ovstitle">
    </div>
    <div class="ovstitleMain">
        <div class="otable">
            <div class="otablesCell">
                <p><strong>精锐1对3全新升级——1对3精英班2.0</strong>击溃学习障碍    拯救学习力</p>
            </div>
        </div>
    </div>
</div>

<div class="cen">
    <div class="not ">
        <div class="notmain">
            <span>莫让应试教育扼杀孩子的学习力</span>
            <div class="notmainbg">
                <p><em>1对3精英班2.0，</em><br>
                    <!--主要针对小四至初二阶段的学生，<br>-->
                    通过提升<em>课堂互动</em>体验，<br>
                    激发持久<em>自主学习力</em>，<br>
                    培养<em>学霸习惯</em>！<br>
                </p>
            </div>
        </div>
    </div>

    <div class="qgzlesson qgzlesson1">
        <h3>没上过中西结合的课,怎敢称“学霸”？</h3>
        <ul>
            <li class="ifirst"><span>“三人行必有我师”</span><p>——在虚心学习别人身上优点的同时，把别人身上的不足引以为戒。</p></li>
            <li><span>“哈佛案例教学法”</span><p>——以案例为中心，通过集体的讨论与分析，最终提高学生的能力。</p></li>
            <li><span>颠覆式3人互动课堂</span><p>“精锐1对3精英班2.0”。</p></li>
        </ul>
        <div class="qgzline hd qgzline1">
            <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"   id='SH1v3005' data-val='2'  data-val='2'>  精锐1对3全新备课平台 </a>
        </div>
        <div class="speak">
            <span><em></em>名师精讲&nbsp;&nbsp;&nbsp;&nbsp;<em></em>课件升级</span>
            <img src="__PUBLIC__/images/ipic5.jpg" />
            <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"   id='SH1v3006' data-val='2'  data-val='2'>想了解如何助力孩子提升，请点击咨询 <img src="__PUBLIC__/images/con1.png" />或拨打热线:<img src="__PUBLIC__/images/con2.png" />400-883-8062
            </a>
        </div>
        <div class="qgzline hd qgzline2">
            <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"   id='SH1v3007' data-val='2'  data-val='2'> 哈佛案例教学法 </a>
        </div>
        <div class="relax">
            <h4><em>启发+讨论+互动</em><br />知识点轻松消化</h4>
            <div class="relaxmain">
                <div class="relaxp">
                    <p><i>精锐1对3精英班2.0</i> 采用以学生为主体，以案例为中心，围绕一个教学目标，课前进行策划与准备，通过教学双方的共同讨论分析的新型教学方式，以提高学生分析和解决问题的能力。<p>
                    <p>区别于传统教学，哈佛案例教学有助于促进孩子主动学习，从而孩子对于知识点的吸收率较高，高可达90%。</p>
                </div>
            </div>
        </div>


    </div>


    <div class="qgzlesson qgzlesson2">
        <h3>学渣也能玩逆袭，远离套路，学习力即正义</h3>
        <ul>
            <li><span><strong>主动+趣味</strong> <em>精品小班互动式教学</em></span>
                <p>现代化小班互动式教学及课堂积分奖励，注重启发和讨论，强化课堂互动，提升孩子主动思考和学习的能力。</p>
            </li>
            <li class="seco"><span><strong>经典+易懂</strong> <em>名师知识点精讲</em></span>
                <p>通过名师众筹，将经典例题、精讲视频等精华提炼并整合共享，提升课件质量，让学生轻松掌握知识点。</p>
            </li>
            <li class="seco2"><span><strong>放心+激励</strong> <em>在线智能服务系统</em></span>
                <p>推出i精锐·学习管家微信端，足不出户，孩子的学习情况也能一手掌控，真正做到让家长安心、省心、放心。</p>
            </li>
        </ul>

        <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"   id='SH1v3008' data-val='2'  data-val='2' class="qgzlink1"><img src="__PUBLIC__/images/con3.png" />点击立即咨询，成就孩子学霸之路！
        </a>
    </div>
    <!--<img  class="ipicBS" src="__PUBLIC__/images/ipic6.jpg" /> -->

    <div class="qgzlesson qgzlesson3">
        <h3>全方位升级体验  改变岂止一点点</h3>
        <div class="qgzline hd qgzline3">
            <a href="javascript:void(0)" target="_self">名师众筹</a>
        </div>
        <div class="w1154">
            <p class="parsent">目前在全国有6000多名全职教师，精锐每年通过重金投入来吸引其中名师，让他们将自己的“独门秘籍”整合成经典的学案、优质的PPT、趣味易懂的知识点讲解视频等，在通过学习力研究院的严格审核后，上传到i精锐·学习管家平台上，共享给全国每一家学习中心，保障每个1对3班级的学生都能得到名师点睛。
            </p><img class="ipicBS1" src="__PUBLIC__/images/ipic8.png" />
            <div class="qgzline hd qgzline4">
                <a href="javascript:void(0)" target="_self">趣味互动课堂</a>
            </div>

            <div class="interest hd">
                <div class="interest_l fl interest_ls">
                    <img src="__PUBLIC__/images/ipic10.png" />
                </div>
                <div class="interest_r fr">
                    <p><i>精锐1对3精英班2.0</i>大大区别于传统小班，更重视学生的学习体验。致力于用丰富多彩的互动将课程内容趣味化、通俗化。老师在其中充当教练的角色，注重启发式、讨论式等教学方法的使用，帮助孩子在互动中养成良好的学习习惯。更有激励式课堂积分，让孩子爱上学习。</p>
                    <ul>
                        <li class="ifirst"><div class="vvideo"><img src="__PUBLIC__/images/video.jpg"   id='SH1v3009' data-val='2' /></div>
                            <em>文科</em>
                        </li>
                        <li><div class="vvideo"><img src="__PUBLIC__/images/video.jpg"  id='SH1v3010' data-val='2'  /></div>
                            <em>理科</em>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="qgzline hd qgzline5">
                <a href="javascript:void(0)" target="_self">高科技多媒体硬件</a>
            </div>

            <div class="interest hd">
                <div class="interest_l fr">
                    <img src="__PUBLIC__/images/ipic11.png" />
                </div>
                <div class="interest_r fl">
                    <p>为了使“互动式教学”在课堂中更灵活的展现，精锐重金引入高科技互动教学设备，包括3D高清的投影仪、功能全面的电子白板、即时同步的点阵笔等，逐步打造全新1对3多媒体教室 。1对3VIP学员可优先使用喔！</p>
                </div>

            </div>



        </div>
        <div class="qgzline hd qgzline6">
            <a  href="javascript:void(0)" target="_self">i精锐互动平台</a>
        </div>


        <div class="verybig">
            <p class="qp1">查看学员课表，课程安排等</p>
            <p class="qp2">查看学科老师对学员的评价</p>
            <p class="qp3">全城各校区精锐辅修课开放<br />
                在线一键报名参加</p>
            <p class="qp4">校区陪读计划显示</p>
            <p class="qp5">学员可以用账号积分<br />
                在学霸加油站兑换丰富礼品</p>
            <p class="qp6">个人信息，活动报名，邀好友得奖励，<br />
                积分，合同，设置，提醒，意见反馈</p>
        </div>

        <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"   id='SH1v3011' data-val='2'  data-val='2' class="qgzlink1"><img src="__PUBLIC__/images/con1.png">马上咨询预约，获得不一样的全新学习体验！</a>

    </div>
</div>


<div class="alltitle m60">
    <div class="ovstitle">
    </div>
    <div class="ovstitleMain">
        <div class="otable">
            <div class="otablesCell">
                <p><strong>中西方教育精髓  辅导优势看得见</strong></p>
            </div>
        </div>
    </div>
</div>

<div  class="oVSeclass cen">
    <div class="oclass">
        <dl class="oc1">
            <dt><span><b>小<br/>学</b></span></dt>
            <dd>
                <!--<p><strong>三年级</strong>  <span><a href="zhongxiaoxue.aspx">语文</a></span><span><a href="zhongxiaoxue.aspx">数学</a></span><span><a href="zhongxiaoxue.aspx">英语</a></span></p>-->
                <p><strong>四年级</strong>  <span><a href="zhongxiaoxue.aspx">语文</a></span><span><a href="zhongxiaoxue.aspx">数学</a></span><span><a href="zhongxiaoxue.aspx">英语</a></span></p>
                <p><strong>五年级</strong>  <span><a href="zhongxiaoxue.aspx">语文</a></span><span><a href="zhongxiaoxue.aspx">数学</a></span><span><a href="zhongxiaoxue.aspx">英语</a></span></span></p>
                <p><strong>六年级</strong>  <span><a href="zhongxiaoxue.aspx">语文</a></span><span><a href="zhongxiaoxue.aspx">数学</a></span><span><a href="zhongxiaoxue.aspx">英语</a></span></span></p>
            </dd>
        </dl>

        <dl class="oc2">
            <dt><span><b>初<br/>中</b></span></dt>
            <dd>
                <p><strong>初一</strong>  <span><a href="zhongxiaoxue.aspx">语文</a></span><span><a href="zhongxiaoxue.aspx">数学</a></span><span><a href="zhongxiaoxue.aspx">英语</a></span></p>
                <p><strong>初二</strong>  <span><a href="zhongxiaoxue.aspx">语文</a></span><span><a href="zhongxiaoxue.aspx">数学</a></span><span><a href="zhongxiaoxue.aspx">英语</a></span> <span><a href="zhongxiaoxue.aspx">物理</a></span> </p>
            </dd>
        </dl>

        <dl class="oc1">
            <dt><span><b>高<br/>中</b></span></dt>
            <dd>
                <p><strong>高一</strong>  <span><a href="zhongxiaoxue.aspx">语文</a></span><span><a href="zhongxiaoxue.aspx">数学</a></span><span><a href="zhongxiaoxue.aspx">英语</a></span><span><a href="zhongxiaoxue.aspx">物理</a></span><span><a href="zhongxiaoxue.aspx">化学</a></span></p>
                <p><strong>高二</strong> <span><a href="zhongxiaoxue.aspx">语文</a></span><span><a href="zhongxiaoxue.aspx">数学</a></span><span><a href="zhongxiaoxue.aspx">英语</a></span><span><a href="zhongxiaoxue.aspx">物理</a></span><span><a href="zhongxiaoxue.aspx">化学</a></span></p>
            </dd>
        </dl>

    </div>

    <div class="qgzxin">温馨提示：本次升级仅针对小四至初二阶段的学生，高中年级暂时只能享受精锐1对3 1.0版本的内容哦!</div>

    <div class="oVSeTabs">
        <img class="ovseot" src="__PUBLIC__/images/ovse24.png" />
        <ul class="osNav">
            <li class="hover">语 文 </li>
            <li>数 学  </li>
            <li>英 语 </li>
            <li>物 理 </li>
            <li>化 学 </li>

        </ul>
        <div class="osTxt hd">
            <div class="osTxtChild" style="display:block;">
                <dl>
                    <dt>精锐1对3语文辅导优势：   </dt>
                    <dd>
                        <p><span class="c1">1</span>精锐教育采用科学、先进、合理的教学辅导模式；</p>
                        <p><span class="c2">2</span>灵活多变的课堂模式，辅以多媒体课件精彩演绎，快速抓住学生的心；</p>
                        <p><span class="c3">3</span>五大板块点亮文学之路，激发主动学习的习惯，助力高分梦想！</p>
                    </dd>
                </dl>
                <dl>
                    <dt>适合学员： </dt>
                    <dd>
                        <p>所有渴望改变学习习惯，提高语文能力，成为学霸的中小学生。</p>
                    </dd>
                </dl>
                <div class="clear"></div>
                <hr />
                <!--<a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SH1v3003' data-val='2' ><img src="__PUBLIC__/images/ovse25.jpg" />针对弱势学科，咨询顾问导师 </a>-->
            </div>
            <div class="osTxtChild">
                <dl>
                    <dt>精锐1对3数学辅导优势：   </dt>
                    <dd>
                        <p><span class="c1">1</span>精锐教育采用科学、先进、合理的教学辅导模式；</p>
                        <p><span class="c2">2</span>灵活多变的课堂模式，辅以多媒体课件精彩演绎，快速抓住学生的心；</p>
                        <p><span class="c3">3</span>五大板块培养逻辑思维能力，激发主动学习的习惯，助力高分梦想！</p>
                    </dd>
                </dl>
                <dl>
                    <dt>适合学员： </dt>
                    <dd>
                        <p>所有渴望改变学习习惯，提高数学能力，成为学霸的中小学生。</p>
                    </dd>
                </dl>
                <div class="clear"></div>
                <hr />
                <!--<a href="#"><img src="__PUBLIC__/images/ovse25.jpg" />针对弱势学科，咨询顾问导师 </a>-->
            </div>
            <div class="osTxtChild">
                <dl>
                    <dt>精锐1对3英语辅导优势：   </dt>
                    <dd>
                        <p><span class="c1">1</span>精锐教育采用科学、先进、合理的教学辅导模式；</p>
                        <p><span class="c2">2</span>灵活多变的课堂模式，辅以多媒体课件精彩演绎，快速抓住学生的心；</p>
                        <p><span class="c3">3</span>五大板块提升表达能力，激发主动学习的习惯，助力高分梦想！</p>
                    </dd>
                </dl>
                <dl>
                    <dt>适合学员： </dt>
                    <dd>
                        <p>所有渴望改变学习习惯，提高英语能力，成为学霸的中小学生。</p>
                    </dd>
                </dl>
                <div class="clear"></div>
                <hr />
                <!--<a href="#"><img src="__PUBLIC__/images/ovse25.jpg" />针对弱势学科，咨询顾问导师 </a>-->
            </div>
            <div class="osTxtChild">
                <dl>
                    <dt>精锐1对3物理辅导优势： </dt>
                    <dd>
                        <p><span class="c1">1</span>精锐教育采用科学、先进、合理的教学辅导模式；</p>
                        <p><span class="c2">2</span>灵活多变的课堂模式，辅以多媒体课件精彩演绎，快速抓住学生的心；</p>
                        <p><span class="c3">3</span>五大板块提升表达能力，激发主动学习的习惯，助力高分梦想！</p>
                    </dd>
                </dl>
                <dl>
                    <dt>适合学员： </dt>
                    <dd>
                        <p>所有渴望改变学习习惯，提高物理能力，成为学霸的中学生。</p>
                    </dd>
                </dl>
                <div class="clear"></div>
                <hr />
                <!--<a href="#"><img src="__PUBLIC__/images/ovse25.jpg" />针对弱势学科，咨询顾问导师 </a-->
            </div>

            <div class="osTxtChild">
                <dl>
                    <dt>精锐1对3化学辅导优势：</dt>
                    <dd>
                        <p><span class="c1">1</span>精锐教育采用科学、先进、合理的教学辅导模式；</p>
                        <p><span class="c2">2</span>灵活多变的课堂模式，辅以多媒体课件精彩演绎，快速抓住学生的心；</p>
                        <p><span class="c3">3</span>五大板块强化探究能力，激发主动学习的习惯，助力高分梦想！</p>
                    </dd>
                </dl>
                <dl>
                    <dt>适合学员： </dt>
                    <dd>
                        <p>所有渴望改变学习习惯，提高化学能力，成为学霸的中学生。</p>
                    </dd>
                </dl>
                <div class="clear"></div>
                <hr />
            </div>

        </div>

    </div>

</div>

<a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"   id='SH1v3012' data-val='2'  data-val='2' class="qgzlink1 qgzlinkqie"><img src="__PUBLIC__/images/con2.png">马上咨询预约，获得不一样的全新学习体验！</a>



<div class="alltitle m60">
    <div class="ovstitle">
    </div>
    <div class="ovstitleMain">
        <div class="otable">
            <div class="otablesCell">
                <p><strong>五大服务保驾护航 学习效果更胜一筹</strong></p>
            </div>
        </div>
    </div>
</div>

<div class="busa cen">
    <div class="teacherList mtb25 hd">
        <ul>
            <li class="abg1"><img src="__PUBLIC__/images/ovs13.jpg" />
                <strong>学霸错题本</strong>
                <p>错题分类归纳，聚焦提升题型，养成良好学习习惯</p>
                <a href="#"  onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SH1v3013' data-val='2' >点击咨询</a>
            </li>

            <li class="abg2"><img src="__PUBLIC__/images/ovs14.jpg" />
                <strong>自学手册</strong>
                <p>提升学生时间管理能力，学会自学，实现师生高效互动。 </p>
                <a href="#"  onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SH1v3014' data-val='2' >点击咨询</a>
            </li>

            <li class="abg3"><img src="__PUBLIC__/images/ovs15.jpg" />
                <strong>状元智慧树</strong>
                <p>知识模块图表化，系统梳理知识点，增强学生的理解和记忆能力，提升抽象思维能力与学习效率。 </p>
                <a href="#"  onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SH1v3015' data-val='2' >点击咨询</a>
            </li>

            <li class="abg4"><img src="__PUBLIC__/images/ovs16.jpg" />
                <strong>i精锐•学习管家</strong>
                <p>激励学员关注学习过程，促进家长及时有效地了解学员学习进度与精锐的最新动态，是学员24小时的贴身学习小管家。</p>
                <a href="#"  onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SH1v3016' data-val='2' >点击咨询</a>
            </li>

            <li class="abg5"><img src="__PUBLIC__/images/ovs17.jpg" />
                <strong>状元父母秘籍</strong>
                <p> 由精锐家庭教育心理辅导师长期跟踪考生心理实践制作而成，协助父母在中高考中做好考生强有力的后盾。 </p>
                <a href="#"  onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SH1v3017' data-val='2' >点击咨询</a>
            </li>
        </ul>
    </div>
</div>
<a href="#" class="qgzlink1" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"   id='SH1v3018' data-val='2'  data-val='2'><img src="__PUBLIC__/images/con2.png">咨询更多服务体验，或拨打400-883-8062</a>


<div class="alltitle m60">
    <div class="ovstitle">
    </div>
    <div class="ovstitleMain">
        <div class="otable">
            <div class="otablesCell">
                <p><strong>雄厚师资团队  学习事半功倍</strong></p>
            </div>
        </div>
    </div>
</div>

<div class="busa cen">
    <p class="mstext">来自清华、北大、北师大等师范类院校本科硕士学霸；部分取得哈佛大学教育学院课程培训认证；<br>
        严格控制录取率及通过考试淘汰制培养出的优秀教师；</p>
    <div class="teacherListask ph68 mtb25 hd">
        <ul>
            <li><img src="__PUBLIC__/images/ovs19-1.jpg">
                <div class="name"><strong>鞠亚雯</strong><b>优秀教师</b></div>
                <p>曾经多年在市重点中学担任高三语文教学及班主任工作，获得市级 “教坛新秀”称号</p>
                <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SH1v3019' data-val='2'  data-val="2"><img src="__PUBLIC__/images/ovs21.jpg">向老师咨询</a>
            </li>
            <li><img src="__PUBLIC__/images/ovs19-2.jpg">
                <div class="name"><strong>吴鎏琳</strong><b>优秀教师</b></div>
                <p>浙江大学文学硕士，多年毕业班教学经验
                    自创“印象作文、感知阅读、诗舞天地”模块教学法</p>
                <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SH1v3020' data-val='2'  data-val="2"><img src="__PUBLIC__/images/ovs21.jpg">向老师咨询</a>
            </li>
            <li><img src="__PUBLIC__/images/qgzteacher1.jpg">
                <div class="name"><strong>王铮</strong><b>优秀教师</b></div>
                <p>16年度新浪教育五星金牌教师。长期从事高中数学教学和上海高考试题研究工作，深入研究高考命题趋势，助力学生攻克数学难关！</p>
                <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SH1v3021' data-val='2'  data-val="2"><img src="__PUBLIC__/images/ovs21.jpg">向老师咨询</a>
            </li>
            <li><img src="__PUBLIC__/images/qgzteacher2.jpg">
                <div class="name"><strong>刘杰</strong><b>优秀教师</b></div>
                <p>精锐语文高级教研员，16年度新浪教育五星金牌教师。从学生的认知出发，引导学生在生疑解惑中产生学习动力以及兴趣。</p>
                <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  id='SH1v3022' data-val='2'  data-val="2"><img src="__PUBLIC__/images/ovs21.jpg">向老师咨询</a>
            </li>
        </ul>
    </div>
</div>


<include file="Public/oneFooter" />