<include file="Public/header"/>
<title>最新咨询</title>

<div><img src="__PUBLIC__/images/ovsoBanner.jpg" style="width:100%;"/></div>
<style>
    #doyoo_mon_inner {
        display: none
    }
</style>

<div class="oVSOne cen hd">
    <div class="fl">
        <img src="__PUBLIC__/images/ovs1.jpg"/>
    </div>
    <div class="fr">
        <p>初三、高三 毕业升学考 <br/>
            到底还有多少备考时间？ <br/><strong>孩子成绩上不去，怎么办？</strong></p>
        <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1002' data-val='2'><img
                src="__PUBLIC__/images/ovs2.jpg"/> 咨询顾问老师，解决燃眉之急</a>
    </div>
</div>

<div class="oVSTwo hd">
    <div class="oVSTwoMain cen">
        <div class="fl">
            <div>
                <strong>中、高考冲刺</strong>
                <span>选对教学模式</span>
            </div>
            <p><strong>1对1课程</strong>，专业学习导师，亦师亦友，能迅速针对学员特点，<strong>量身定制</strong>；</p>
            <p>专门的高效学法和独立教室；打造单人单间独立教室，<strong>提升学习效率</strong>；</p>
            <p>配合360°<strong>全方位个性化服务</strong>，助力学员快速提升成绩。</p>
        </div>
        <img class="fr" src="__PUBLIC__/images/ovs4.png"/>
    </div>
</div>


<div class="oVSThree cen hd">
    <div class="titles">精锐1对1，定制教学，助力快速高效提升</div>
    <div class="oVSThreeMain">
        <div class="oVSThreeMainPtex">
            <p>中高考冲刺，拿高分优先选择1对1； <br/>
                个性定制提升方案，针对性强，提升快；<br/>
                全程1对1个性化跟踪辅导，快速掌握应试能力； <br/>
                任课教师、教务团队、班主任全程多对一</p>
            <div class="zxnews">
                <div>
                    <strong>中考</strong>
                    <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1003'
                       data-val='2'>马上咨询</a>
                </div>
                <div>
                    <strong>高考</strong>
                    <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1004'
                       data-val='2'>马上咨询</a>
                </div>
                <div>
                    <strong>小升初</strong>
                    <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1005'
                       data-val='2'>马上咨询</a>
                </div>
            </div>

        </div>
        <img src="__PUBLIC__/images/ovs7.jpg"/>
        <!-- <map name="Map" id="Map">
           <area shape="rect" coords="128,407,248,455" href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  data-val='2' />
           <area shape="rect" coords="415,409,536,455" href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  data-val='2' />
           <area shape="rect" coords="701,407,832,456" href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;"  data-val='2' />
         </map> -->
    </div>
</div>

<div class="oVSfour hd">
    <div class="oVSfourMain cen hd">
        <div class="titles">精锐高效复习法</div>
        <div class="Text"><img src="__PUBLIC__/images/ovs8.jpg"/></div>
        <div class="swta"><a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1006'
                             data-val='2'><img src="__PUBLIC__/images/ovs9.jpg"/>针对弱势学科，咨询顾问导师</a></div>
    </div>
</div>


<div class="oVSfive hd">
    <div class="oVSfiveMain cen hd">
        <div class="titles"><font>众多学生成绩得到了</font>突飞猛进<font>的提升</font></div>
        <div class="oVSfiveMainText hd">
            <img class="fl" src="__PUBLIC__/images/ovs10.jpg"/>
            <dl>
                <dt>学生成绩提升程度</dt>
                <dd>
                    <p>精锐学员中众多学生成绩得到了突飞猛进的提升，学习力得到良好的训练！</p>
                </dd>
            </dl>
        </div>
        <div class="swta"><a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1007'
                             data-val='2'><img src="__PUBLIC__/images/ovs11.jpg"/>提升热线 400-883-8062</a></div>
    </div>
</div>


<div class="oVSsix hd">
    <div class="oVSsixMain cen hd">
        <div class="titles color1">全方位个性定制
            <small>i精锐·学习力提升系统</small>
        </div>
        <div class="oVSsixMainText hd">
            <div class="dl1 dxl">
                <dl>
                    <dt>PLI学习力智能测评</dt>
                    <dd>
                        <p>在线学习力智能测评系统，在学习动力，学习能力，学习毅力三大方面13个维度全方位分析学生类型，迅速把脉学生特点及不足</p>
                    </dd>
                </dl>
            </div>
            <div class="dl2 dxr">
                <dl>
                    <dt>学霸导师</dt>
                    <dd>
                        <p>来自清华、北大、北师大等师范类院校本科硕士学霸。线下专业教学，线上答疑指导，将学霸经验融入教学，提升学习能力</p>
                    </dd>
                </dl>
            </div>
            <div class="dl3 dxl">
                <dl>
                    <dt>360°O2O专属服务</dt>
                    <dd>
                        <p>专属家长会、班主任全程跟踪，陪读课堂、精锐辅修课、心理咨询、辅修课、VIP尊享等特色服务，为学习效果保驾护航</p>
                    </dd>
                </dl>
            </div>
            <div class="dl4 dxr">
                <dl>
                    <dt>大数据定制高效学法</dt>
                    <dd>
                        <p>全新i精锐·智能教学资源平台，拥有海量真题教案库，运用大数据量身定制高效学法，使每个学员得到高质量的教案</p>
                    </dd>
                </dl>
            </div>
            <div class="dl5 dxl">
                <dl>
                    <dt>i精锐·学习管家</dt>
                    <dd>
                        <p>通过i精锐·学习管家，实现家校实时互动，家长在家即可轻松了解学员在校情况，并与老师随时沟通</p>
                    </dd>
                </dl>
            </div>
            <div class="dl6 dxr">
                <dl style="padding-top:3px;">
                    <dt>私人独立书房</dt>
                    <dd>
                        <p>借鉴美国哈佛大学风格打造独立教室，利于学生集中注意力，课后可在精锐乐园放松休息。寓教于乐的环境激发学员的学习动力</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>


<div class="oVSeven hd">
    <div class="oVSevenMain cen hd">
        <div class="titles">产品服务全新升级
            <small>学习效果更胜一筹</small>
        </div>
        <div class="teacherList mtb25 hd">
            <ul>
                <li class="abg1"><img src="__PUBLIC__/images/ovs13.jpg"/>
                    <strong>学霸错题本</strong>
                    <p>错题分类归纳，聚焦提升题型，养成良好学习习惯</p>
                    <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1008'
                       data-val='2'>点击咨询 </a>
                </li>

                <li class="abg2"><img src="__PUBLIC__/images/ovs14.jpg"/>
                    <strong>状元智慧树</strong>
                    <p>知识模块图表化，系统梳理知识点，增强学生的理解和记忆能力，提升抽象思维能力与学习效率</p>
                    <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1009'
                       data-val='2'>点击咨询 </a>
                </li>

                <li class="abg3"><img src="__PUBLIC__/images/ovs15.jpg"/>
                    <strong>i精锐•学习管家</strong>
                    <p>激励学员关注学习过程，促进家长及时有效地了解学员学习进度与精锐的最新动态，是学员24小时的贴身学习小管家</p>
                    <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1010'
                       data-val='2'>点击咨询 </a>
                </li>

                <li class="abg4"><img src="__PUBLIC__/images/ovs16.jpg"/>
                    <strong>自学手册</strong>
                    <p>提升学生时间管理能力，学会自学，实现师生高效互动</p>
                    <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1011'
                       data-val='2'>点击咨询 </a>
                </li>

                <li class="abg5"><img src="__PUBLIC__/images/ovs17.jpg"/>
                    <strong>状元父母秘籍</strong>
                    <p>由精锐家庭教育心理辅导师长期跟踪考生心理实践制作而成，协助父母在中高考中做好考生强有力的后盾</p>
                    <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1012'
                       data-val='2'>点击咨询 </a>
                </li>
            </ul>
        </div>
        <div class="h30"></div>
        <div class="titles">雄厚师资团队 &nbsp; 学习事半功倍</div>
        <p class="mstext">来自清华、北大、北师大等师范类院校本科硕士学霸；部分取得哈佛大学教育学院课程培训认证；<br/>
            严格控制录取率及通过考试淘汰制培养出的优秀教师；</p>
        <div class="teacherListask ph68 mtb25 hd">
            <ul>
                <li><img src="__PUBLIC__/images/ovs19-1.jpg"/>
                    <div class="name"><strong>鞠亚雯</strong><b>优秀教师</b></div>
                    <p>曾经多年在市重点中学担任高三语文教学及班主任工作，获得市级 “教坛新秀”称号</p>
                    <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1013'
                       data-val='2'><img src="__PUBLIC__/images/ovs21.jpg"/>向老师咨询</a>
                </li>
                <li><img src="__PUBLIC__/images/ovs19-2.jpg"/>
                    <div class="name"><strong>吴鎏琳</strong><b>优秀教师</b></div>
                    <p>浙江大学文学硕士，多年毕业班教学经验
                        自创“印象作文、感知阅读、诗舞天地”模块教学法</p>
                    <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1014'
                       data-val='2'><img src="__PUBLIC__/images/ovs21.jpg"/>向老师咨询</a>
                </li>
                <li><img src="__PUBLIC__/images/qgzteacher1.jpg"/>
                    <div class="name"><strong>王铮</strong><b>优秀教师</b></div>
                    <p>16年度新浪教育五星金牌教师。长期从事高中数学教学和上海高考试题研究工作，深入研究高考命题趋势，助力学生攻克数学难关！</p>
                    <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1015'
                       data-val='2'><img src="__PUBLIC__/images/ovs21.jpg"/>向老师咨询</a>
                </li>
                <li><img src="__PUBLIC__/images/qgzteacher2.jpg"/>
                    <div class="name"><strong>刘杰</strong><b>优秀教师</b></div>
                    <p>精锐语文高级教研员，16年度新浪教育五星金牌教师。从学生的认知出发，引导学生在生疑解惑中产生学习动力以及兴趣。</p>
                    <a href="#" onclick="doyoo.util.openChat();doyoo.util.accept();return false;" id='SH1v1016'
                       data-val='2'><img src="__PUBLIC__/images/ovs21.jpg"/>向老师咨询</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<include file="Public/oneFooter" />