<include file="Public/header"/>
<title>最新咨询</title>

<!--<div><img src="__PUBLIC__/images/ovsoBanner.jpg" style="width:100%;"/></div>-->
<style>

    .call{
        display: block;
        background: #d6444a;
        padding: 5px 20px;
        font-size: 30px;
        color: #fff;
        border-radius: 5px;
    }

</style>

<div class="oVSOne cen hd">
    <div class="fl">
        <img src="__PUBLIC__/newImages/problem.jpg"/>
    </div>
    <div class="fr">
        <p>初三、高三 毕业升学考 <br/>
            到底还有多少备考时间？ <br/><strong>孩子成绩上不去，怎么办？</strong>
        </p>
        <a href="tencent://message/?uin=605804679"  id='SH1v1002' data-val='2'>
            <img src="__PUBLIC__/images/ovs2.jpg"/> 咨询顾问老师，解决燃眉之急
        </a>

    </div>
</div>

<div class="oVSTwo hd">
    <div class="oVSTwoMain cen">
        <div class="fl">
            <div>
                <strong>中、高考冲刺</strong>
                <span>就选1对1冲刺</span>
            </div>
            <p><strong>1对1课程</strong>，专业学习导师，亦师亦友，能迅速针对学员特点，<strong>量身定制</strong></p>
            <p>专门的高效学法和独立教室；打造单人单间独立教室，<strong>提升学习效率</strong>；</p>
        </div>
        <img class="fr" src="__PUBLIC__/newImages/teacher.png"/>
    </div>
</div>

<div class="oVSThree cen hd">
    <div class="titles">书味1对1，定制教学，助力快速高效提升</div>
    <div class="oVSThreeMain">
        <div class="oVSThreeMainPtex">
            <p>中高考冲刺，拿高分优先选择1对1； <br/>
                个性定制提升方案，针对性强，提升快；<br/>
                全程1对1个性化跟踪辅导，快速掌握应试能力； <br/>
                任课教师、教务团队、班主任全程多对一</p>
            <div class="zxnews">
                <div>
                    <strong>小升初</strong>
                    <a href="tencent://message/?uin=605804679" id='SH1v1005' data-val='2'>马上咨询</a>
                </div>

                <div>
                    <strong>中考</strong>
                    <a href="tencent://message/?uin=605804679" id='SH1v1003' data-val='2'>马上咨询</a>
                </div>
                <div>
                    <strong>高考</strong>
                    <a href="tencent://message/?uin=605804679" id='SH1v1004' data-val='2'>马上咨询</a>
                </div>

            </div>

        </div>
        <img src="__PUBLIC__/newImages/ovs7.png"/>

    </div>
</div>

<div class="oVSfour hd">
    <div class="oVSfourMain cen hd">
        <div class="titles">书味高效复习法</div>
        <div class="Text"><img src="__PUBLIC__/images/ovs8.jpg"/></div>
        <div class="swta">
            <a href="tencent://message/?uin=605804679" id='SH1v1006' data-val='2'>
                <img src="__PUBLIC__/images/ovs9.jpg"/>针对弱势学科，咨询顾问导师
            </a>
        </div>
    </div>
</div>

<include file="Public/footer" />