<include file="Public/header" />

<title>学习力研究院-秋季课程热卖中！来书味，做学霸！--上海书味教育官网</title>

<!--<div><img src="__PUBLIC__/images/Job/onbanner.jpg" style="width:100%;"/></div>-->

<div class="artTileTxt cen hd">
    <h1>
        <strong>招贤纳士</strong>
        <span>发布日期：{$nowTime}   浏览次数：<font>8932</font>次</span>
    </h1>
    <div class="artextBox">
        <p><span style="font-size: 20px;">

            <strong>教育顾问</strong></span>
            <br>
            <strong>岗位要求：</strong>
            <br>
            1)
            大专及以上学历(应届毕业生须本科学历以上)；
            <br>
            2) 自信、坚韧、目标明确、吃苦耐劳；
            <br>
            3) 有较强的学习力、应变能力、抗压能力、销售能力；
            <br>
            4) 善于沟通、亲和力强、协调说服力强；
            <br>
            5)
            热爱教育行业，有良好的客户服务意识，能适应灵活的工作时间（包括周末）.
            <br>
            <strong>晋升机制：</strong>
            <br>教育顾问→咨询主管→咨询经理→助理中心校长→中心校长→区域总监→省区负责人
            <br><br><br>
            <span style="font-size: 20px;">
                <strong>班主任</strong></span>
            <br>
            <strong>岗位要求：</strong>
            <br>1）大专及以上学历（应届毕业生须本科学历以上）；<br>2）自信、坚韧、目标明确、吃苦耐劳；<br>3）有较强的学习力、应变能力、抗压能力、销售能力；<br>4）善于沟通，亲和力强，协调说服力强；<br>5）热爱教育行业，有良好的客户服务意识，能适应灵活的工作时间（包括周末）。<br><strong>晋升机制：</strong><br>班主任→客服主管→客服经理→助理中心校长→中心校长→区域总监→省区负责人<br><br><br><strong><span
                    style="font-size: 20px;">学科教师（语/数/英/物/化/史/地/政/生）</span></strong><br><strong>岗位要求：</strong><br>1）本科以上学历，普通话标准，仪表仪态端庄，有亲和力；<br>2）具有良好的教师职业操守和服务意识，热爱教育教学工作，热爱学生，为人师表；<br>3）沟通表达能力强，讲课条理清晰、风趣幽默，有互动、能够因材施教，启发教学；<br>4）有责任心、抗压力强、执行力强；<br>5)
            有良好的客户服务意识，能适应灵活的工作时间（包括周末）。<br><strong>晋升机制：</strong><br>1、学科教师→学科带头人→学科组长→助理中心校长→中心校长→区域总监→省区负责人<br>2、学科教师→教研专员→教研主管→教研经理→教学总监<br><br><br><strong><span
                    style="font-size: 20px;">中心助理</span></strong><br><strong>岗位要求：</strong><br>1）专科及以上学历；<br>2）气质形象佳、热情、主动、细致、有耐心；<br>3）有亲和力、善沟通、良好的客户服务意识和学习能力；<br>4）熟练使用办公软件，有相关教育、培训机构工作经验者优先；<br>5）能适应灵活的工作时间（包括周末）。<br><br><br><br><strong><span
                    style="font-size: 20px;">市场主管</span></strong><br><strong>岗位要求：</strong><br>1）具有2-3年的市场推广与营销工作经验，对教育行业比较了解；
            <br>2）对市场工作充满热爱，跨部门沟通与合作意识较强；
            <br>3）吃苦耐劳，有一定的抗压能力，热爱教育行业。<br>4）有良好的客户服务意识，能适应灵活的工作时间（包括周末）。<br><strong>晋升机制：</strong><br>1）校区市场主管→校区市场经理→助理中心校长→中心校长→区域总监→省区负责人<br>2）校区市场主管→校区市场经理→区域市场经理→城市市场总监<br><br><strong><span
                    style="font-size: 20px;">助理中心校长培训生</span></strong><br><strong>岗位要求：</strong><br>1）本科及以上学历，专业不限；<br>2）有1-2年的团队管理经验和市场营销经验；<br>3）教育培训行业、零售服务、快消、零售金融行业等优先考虑；<br>4）积极正向、有团队精神、适应能力强。<br>5）有良好的客户服务意识，能适应灵活的工作时间（包括周末）。<br><strong>晋升机制：</strong><br>助理中心校长培训生→助理中心校长→中心校长→区域总监→省区负责人<br><br><span
                    style="font-size: 18px;">
                <strong>投递邮箱：18616916461@163.com<br>电话号码：18616916461 13052090850</strong>
            </span>
            <br>
            <br>
        </p>
    </div>
</div>


<include file="Public/footer" />