<include file="Public/header" />

<title>学习力研究院-秋季课程热卖中！来精锐，做学霸！--上海精锐教育官网</title>

<div><img src="__PUBLIC__/images/Ismart/ideabanner.jpg" style="width:100%;"/></div>

<div class="newsNav">
    <ul class="cen">
        <li class="hover"><a href="{:U('ismart/index')}">i精锐·学习力提升系统</a><i></i></li>
        <li><a href="{:U('ismart/pli')}">PLI学习力智能测试</a><i></i></li>
    </ul>
</div>
<div class="idea_Main cen hd">
    <h2 class="ntitle nc5">i精锐·学习力提升系统</h2>
    <div class="idea_Main_txts hd">
        <img class="fl" src="__PUBLIC__/images/Ismart/idea7.jpg">
        <dl class="fl">
            <dt>助孩子全面提升</dt>
            <dd>打造全新业界领先的O2O智能学习平台。
                <br>
                涵盖了1对1和1对3的产品信息</dd>
        </dl>
    </div>


    <div class="maineightMain idbg mtb50 cen">
        <h2 class="title bg1">先进教学体系 <font>六大学习保障</font> 全面提升</h2>
        <h3>i精锐·学习力提升系统8.0</h3>
        <div class="maineightMainText">
            <dl class="dl_1 right">
                <dt>PLI学习力智能测评</dt>
                <dd>在线学习力智能测评系统，在学习动力，学习能力，学习毅力三大方面13个维度全方位分析学生类型，迅速把脉学生特点及不足</dd>
            </dl>

            <dl class="dl_2 left">
                <dt>学霸导师</dt>
                <dd>来自清华、北大、北师大等师范类院校本科硕士学霸。线下专业教学，线上答疑指导，将学霸经验融入教学，提升学习能力</dd>
            </dl>

            <dl class="dl_3 right">
                <dt>360°O2O专属服务</dt>
                <dd>专属家长会、班主任全程跟踪，陪读课堂、精锐辅修课、心理咨询、辅修课、VIP尊享等特色服务，为学习效果保驾护航</dd>
            </dl>


            <dl class="dl_4 left">
                <dt>大数据定制高效学法</dt>
                <dd>全新i精锐·智能教学资源平台，拥有海量真题教案库，运用大数据量身定制高效学法，使每个学员得到最高质量的教案</dd>
            </dl>

            <dl class="dl_5 right">
                <dt>i精锐·学习管家</dt>
                <dd>通过i精锐·学习管家，实现家校实时互动，家长在家即可轻松了解学员在校情况，并与老师随时沟通</dd>
            </dl>

            <dl class="dl_6 left">
                <dt>私人独立书房</dt>
                <dd>借鉴美国哈佛大学风格打造独立教室，利于学生集中注意力，课后可在精锐乐园放松休息。寓教于乐的环境激发学员的学习动力</dd>
            </dl>
        </div>
    </div>

</div>


<include file="Public/footer" />