<include file="Public/header" />

<title>学习力研究院-秋季课程热卖中！来精锐，做学霸！--上海精锐教育官网</title>

<div><img src="__PUBLIC__/images/Ismart/ideabanner.jpg" style="width:100%;"/></div>

<div class="newsNav">
    <ul class="cen">
        <li><a href="{:U('ismart/index')}">i精锐·学习力提升系统</a><i></i></li>
        <li class="hover"><a href="{:U('ismart/pli')}">PLI学习力智能测试</a><i></i></li>
    </ul>
</div>

<div class="idea_Main cen hd">
    <h2 class="ntitle nc5">PLI学习力智能测评</h2>
    <div class="idea_Main_top hd">
        <img class="fl" src="__PUBLIC__/images/idea1.jpg">
        <dl class="rboxs">
            <dt>科学诊断 有的放矢</dt>
            <dd>精锐1对1分别针对学习动力、学习能力、学习毅力三大方面13个维度给出全方位分析及相应建议，并在1对1教学中跟踪提升。</dd>
        </dl>
    </div>

    <div class="idbox">
        <dl class="rboxto">
            <dt>
                <img src="__PUBLIC__/images/idea2.jpg">PLI学习力智能测评</dt>
            <dd>精锐学习力研究团队与华师大心理测量研究人员经过多年探索，参照国际权威的非智力因素、学习风格等经典测评量表，将学习力转化成各项可以用数据衡量的指标。我们称它为“PLI学习力智能测评”，简称PLI测评。</dd>
        </dl>

        <div class="idea_MainImg hd">
            <div class="fl">
                <img class="fl" src="__PUBLIC__/images/idea3.jpg"></div>
            <div class="fr">
                <img class="fl" src="__PUBLIC__/images/idea4.jpg"></div>
        </div>
    </div>

    <div class="idbox">
        <dl class="rboxto">
            <dt>
                <img style="vertical-align: -14px;" src="__PUBLIC__/images/idea5.jpg">
                学习力</dt>
        </dl>
        <div class="idea_Main_top clear30 hd">
            <img class="fl" src="__PUBLIC__/images/idea6.jpg">
            <p>精锐教育创新地提出了“学习力”（Power Learning）的概念。具体来说，学习力是学习动力、学习能力和学习毅力的统称。它是人一生持续成功的重要、核心的竞争力。</p>
        </div>
    </div>


</div>


<include file="Public/footer" />