<extend name="Public/header" />

<block name="content">
    <title>后台系统管理首页</title>

    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
    <link rel="stylesheet" href="Public/Admin/css/main.css">

    <style>

        .layui-show{
            margin-top: 20px;
            margin-left: 8px;

        }

    </style>


    <div>
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1270486446'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1270486446%26online%3D1' type='text/javascript'%3E%3C/script%3E"));</script>

    </div>




</block>