<extend name="Public/header" />


<block name="content">
    <title>系统参数管理</title>

    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
    <link rel="stylesheet" href="Public/Admin/css/main.css">

    <script type="text/javascript" charset="utf-8" src="Public/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="Public/ueditor/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="Public/ueditor/lang/zh-cn/zh-cn.js"></script>

    <style>

        .layui-show{
            margin-top: 20px;
            margin-left: 8px;

        }

        .layui-form-label {
            width: 86px;
        }

        .layui-input-block {
            margin-left: 124px;
        }

        .layui-input, .layui-textarea {
            width: 100%;
        }

        .item-left{
            margin-left: 20px;
        }

        .item-title{
            text-align: center;
            font-size: 28px;
        }

        .input-title-div{
            margin-top: 20px;
        }

        .artextBox{
            margin-top: 20px;
        }

        .btn-submit{
            margin: 20px 8px 8px 8px;
        }


    </style>

    <div class="layui-tab">

        <ul class="layui-tab-title">
            <li class="layui-this">招聘信息</li>
            <li>编辑</li>

        </ul>


        <div class="layui-tab-content">

            <div class="layui-tab-item layui-show item-left">

                <div class="show-data">
                    <p class="item-title">
                        <span>{$title}</span>
                    </p>
                    <div class="item-content">
                        <?php echo $content ?>
                    </div>

                </div>

            </div>

            <div class="layui-tab-item">
                <div class="layui-form-item input-title-div">
                    <label class="layui-form-label">文章标题</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input id div-none" value="{$id}">
                        <input type="text" class="layui-input style div-none" value="{$style}">
                        <input type="text" style="width: 20%" placeholder="请输入标题" class="layui-input title" value="{$title}">
                    </div>
                </div>
                <textarea id="myEditor" class="content">{$content}</textarea>

                <div class="btn-submit">
                    <button class="layui-btn">保存</button>
                </div>

            </div>

        </div>

    </div>

    <script type="text/javascript">
        var editor = new UE.ui.Editor();
        editor.render("myEditor");

        $().ready(function () {

            // 点击提交事件
            $('.btn-submit').click(function () {

                var getArr = ['id','style','title'];

                var getList = getClassValArr(getArr,['id','style']);

                if (!getList){
                    return false;
                }

                var text = editor.getContent();

                if (text ==''){
                    layer.msg('内容不能为空');
                    return false;
                }

                var saveStr = getList.join(";");

                var url = "{:U('Post/Article')}";

                $.post(
                    url,
                    {
                        'dataStr':saveStr,
                        'content':text
                    },function (data) {

                        if (data.code == 0){
                            layer.msg(data.message+'2秒后,刷新页面');
                            webReload();
                        }else{
                            layer.msg(data.message);
                        }

                    },'JSON'
                )

            })




        })

    </script>


</block>