<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <script src="__PUBLIC__/bootstrap/js/jquery-3.2.1.min.js"></script>

    <meta name='keywords' content='上海书味教育,上海1对1辅导,上海1对3辅导，上海高考冲刺，上海中考冲刺，上海小升初辅导，新初一辅导,新初三辅导，新高一辅导,新高三辅导，语文补习，数学补习，英语补习，物理补习，化学补习，暑期辅导班, 暑期培训班, 暑期补习班, 暑期冲刺班' />
    <meta name='Description' content='上海书味教育，由哈佛北大精英创立，中考、书味教育暑期爆款课程热卖中！暑期辅导选择1对1辅导，个性化定制，高效提分。非毕业班同步课程补习，选择1对3互动精英课程。来书味，做学霸！暑期课程涵盖语文、数学、英语、物理、化学、科学等针对性学科辅导课程。咨询热线：400-883-8062' />

    <link href="__PUBLIC__/css/aboutStyle.css" rel="stylesheet" type="text/css" />
    <style>

        .phoneTwo{
            margin-left: 60px !important;
            margin-top: 0px !important;
        }

        .logoTel{
            height: 120px;
        }

        .setHeight{
            height: 80px;
        }

        .tsBimgTwo {
            height: 515px;
            display: block;
            width: 858px;
            margin: 0 auto;
        }

    </style>

</head>
<body>

<div class="logo">
    <div class="logoMain cen">
        <div class="logoImg fl">
            <a href="{:U('index/index')}">
                <img src="__PUBLIC__/newImages/logo.jpg"/></a>
        </div>
        <div class="logoTel fr">
            <a href="{:U('index/oneOnOne')}" class="ovos1"></a>
            <a href="{:U('index/oneOnThree')}" class="ovos2"></a>
            <strong>186 1691 6461</strong>
            <strong class="phoneTwo">130 5209 0850</strong>
        </div>

    </div>
</div>

<div class="clear"></div>


<title>秋季班感恩季</title>


<div class="nav ksnav">
    <div class="navMeau hd">
        <ul>
            <li class="on hover"><a href="#top">秋季班</a></li>
            <li><a href="#bingfeng">找到适合孩子的课程</a></li>
            <li><a href="#wuda">为什么选择书味</a></li>
        </ul>
    </div>
</div>

<div class="clear"></div>


<div class="erCode"><span class="erCodeClose"></span><img src="__PUBLIC__/images/about/code.png" /></div>

<script>
    $(function(){
        $(".pro_list_2").on("click",function(){
            $(".erCode").fadeIn();
        });
        $(".erCode .erCodeClose").on("click",function(){
            $(".erCode").fadeOut();
        });
    })
</script>

<div class="View_1">
    <img src="__PUBLIC__/images/about/view1.png" />
</div>

<div class="qjTitle zINu">
    <h2>家长的困扰我们都知道 <img src="__PUBLIC__/images/about/View_2.png" /></h2>
</div>

<div class="View_2">
    <div class="tsCen">
        <div class="tsB">
            <img src="__PUBLIC__/images/about/ts_1.png" />
            <b>书味个性化辅导</b>
            <img src="__PUBLIC__/images/about/ts_2.png" />
        </div>
        <i></i>
        <span>帮孩子们摆脱“学习困扰”</span>
    </div>

    <img class="View_3" src="__PUBLIC__/images/about/View_3.jpg" />


    <div class="links">
        <a id="SHPP0011120ss1" data-val="2" onclick="doyoo.util.openChat();return false;"><img src="__PUBLIC__/images/about/mm4.jpg" width="33" height="41" style="display: inline;">拨打<b>18616916461</b>，预约弱科测评，定制个性化课程！</a>
    </div>
</div>


<div class="View_4">
    <div id="bingfeng"></div>
    <div class="tsCen">
        <div class="tsB">
            <img src="__PUBLIC__/images/about/ts_1.png" />
            <b>缤纷好课随心选</b>
            <img src="__PUBLIC__/images/about/ts_2.png" />
        </div>
        <i></i>
        <span>满足个性化需求</span>
    </div>
    <img class="View_4img" src="__PUBLIC__/images/about/View_4.jpg" />
</div>




<div class="View_5">
    <div class="tsCen redCr">
        <div class="tsB">
            <img src="__PUBLIC__/images/about/ts_1s.png" />
            <b>1对1课程</b>
            <img src="__PUBLIC__/images/about/ts_2s.png" />
        </div>
        <i></i>
        <span>高效提升“神助攻”</span>
    </div>
    <img  src="__PUBLIC__/images/about/View_5_1.jpg" usemap="#Map" class="View_5_1" border="0" />
    <map name="Map" id="Map">
        <area shape="rect" coords="28,157,243,217" id="SHPP0011120ss2vv1" data-val="2" onclick="doyoo.util.openChat();return false;" />
        <area shape="rect" coords="591,348,818,406" id="SHPP0011120ss2vv1" data-val="2" onclick="doyoo.util.openChat();return false;" />
    </map>
    <img class="View_5_2" src="__PUBLIC__/images/about/View_5_2.jpg" />
    <div class="tsCen redCr">
        <div class="tsB">
            <img src="__PUBLIC__/images/about/ts_1s.png" />
            <b>1对1优势</b>
            <img src="__PUBLIC__/images/about/ts_2s.png" />
        </div>
        <i></i>
        <span>我们不做平庸的大多数！</span>
    </div>
    <img class="View_5_3" src="__PUBLIC__/images/about/View_5_3.png" />
    <img class="View_5_4" src="__PUBLIC__/images/about/View_5_4.jpg" />
    <div class="links">
        <a id="SHPP0011120ss2" data-val="2" onclick="doyoo.util.openChat();return false;"><img src="__PUBLIC__/images/about/mm4.jpg" width="33" height="41" style="display: inline;">知识抢先学，赢战期中考 , 拨打 <b>18616916461</b> </a>
    </div>
</div>




<div class="View_6">
    <div class="tsCen redCr">
        <div class="tsB">
            <img src="__PUBLIC__/images/about/ts_1s.png" />
            <b>1对3课程</b>
            <img src="__PUBLIC__/images/about/ts_2s.png" />
        </div>
        <i></i>
        <span>互动式教学 激发学习力 </span>
    </div>
    <img class="View_6_1" src="__PUBLIC__/images/about/View_6_1.png" />
    <img class="View_6_2" src="__PUBLIC__/images/about/View_6_2.jpg" />
    <div class="links">
        <a id="SHPP0011120ss3" data-val="2" onclick="doyoo.util.openChat();return false;"><img src="__PUBLIC__/images/about/mm4.jpg" width="33" height="41" style="display: inline;">拨打<b>18616916461</b> ，获取更多优惠信息！</a>
    </div>
</div>


<div id="wuda"></div>
<div class="qjTitle">
    <h2>五大学习保障,过关斩将助力提升！</h2>
</div>

<div class="View_7">
    <div class="tsCen redCr">
        <div class="tsB">
            <img src="__PUBLIC__/images/about/ts_1s.png" />
            <b>书味明星导师</b>
            <img src="__PUBLIC__/images/about/ts_2s.png" />
        </div>
        <i></i>
        <span>学霸履历 多年毕业班教学经验</span>
    </div>

    <div class="tabXue">
        <div class="tabXueMain">
            <img class="tsBimgTwo" src="__PUBLIC__/images/about/13.jpg" />

        </div>
    </div>

    <div class="links">
        <a id="SHPP0011120ss14" data-val="2" onclick="doyoo.util.openChat();return false;"><img src="__PUBLIC__/images/about/mm4.jpg" width="33" height="41" style="display: inline;">拨打<b>18616916461</b> ，好老师提前抢！</a>
    </div>
</div>

<div class="setHeight"></div>
<!--设置 底部填充颜色-->
<script>
    $('.setHeight').height('0');
</script>

<include file="Public/footer" />