<include file="Public/Aboutheader"/>

<title>书味文化-秋季课程热卖中！来书味，做学霸！--上海书味教育官</title>

<h2 class="ntitle nc1">书味文化</h2>
<div class="on3Mian cen hd">
    <div class="on3Mian_ms">
        <p><i></i> <strong>我们的准则：</strong> 你教室里的每一个孩子，都是一个家庭的整个世界。教育者要永远保持一颗充满爱与责任的心。</p>

        <p><i></i> <strong>我们的工作准则：</strong> 学生第一、开拓创新。</p>
        <p><i></i> <strong>我们的教学师德：</strong> 责任、毅力。</p>
        <p><i></i> <strong>我们的精神：</strong> 春蚕到死丝方尽，蜡炬成灰泪始干。</p>

        <img src="__PUBLIC__/newImages/teacher.png"/>
    </div>

</div>

<div class="setHeight"></div>
<!--设置 底部填充高度-->
<script>
    $('.setHeight').height('132');
</script>


<include file="Public/footer"/>