<include file="Public/Aboutheader"/>

<title>精锐文化-秋季课程热卖中！来精锐，做学霸！--上海精锐教育官</title>

<h2 class="ntitle nc1">精锐文化</h2>
<div class="on3Mian cen hd">
    <div class="on3Mian_ms">
        <p><i></i> <strong>我们的使命：</strong> 学习力成就未来</p>
        <p><i></i> <strong>我们的愿景：</strong> 成为倍受信赖的提升学习力的第三课堂</p>
        <p><i></i> <strong>我们的学习力原则：</strong> 以学为主 以教为辅 主动学习 多元互动</p>
        <p><i></i> <strong>我们的工作准则：</strong> 学生至上 执行力 持续创新 团队合作</p>
        <p><i></i> <strong>我们的五心师德：</strong> 恒心、责任心、创新心、爱心、童心</p>
        <p><i></i> <strong>我们的精神：</strong> 肯学肯干</p>
        <img src="__PUBLIC__/images/on15.png"/>
    </div>

    <div class="on3Mian_list">
        <ul>
            <li>
                <img src="__PUBLIC__/images/on16.jpg"/>
                <dl>
                    <dt>学生至上</dt>
                    <dd>
                        <p>优质教学 专业服务</p>
                        <p>快乐高效 因材施教</p>
                    </dd>
                </dl>
            </li>
            <li>
                <img src="__PUBLIC__/images/on17.jpg"/>
                <dl>
                    <dt>执行力</dt>
                    <dd>
                        <p>爱岗敬业 感恩奉献</p>
                        <p>求真务实 精益求精</p>
                    </dd>
                </dl>
            </li>
            <li>
                <img src="__PUBLIC__/images/on18.jpg"/>
                <dl>
                    <dt>持续创新</dt>
                    <dd>
                        <p>远见卓识 拥抱变化</p>
                        <p>自我超越 锐意进取</p>
                    </dd>
                </dl>
            </li>
            <li>
                <img src="__PUBLIC__/images/on19.jpg"/>
                <dl>
                    <dt>团队合作</dt>
                    <dd>
                        <p>关爱鼓励 尊重信任</p>
                        <p>以人为本 兼容并包</p>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>


    <div class="on3Mian_dls">
        <dl>
            <dt>精锐创新的教育理念</dt>
            <dd>打造快乐高效的第三课堂</dd>
        </dl>
        <dl>
            <dt>精锐教育学习力原则</dt>
            <dd>以学为主 &nbsp; 以教为辅 &nbsp; 主动学习 &nbsp; 多元互动</dd>
        </dl>
    </div>

    <div class="on3Mian_dls on3Mian_uls">
        <dl>
            <dt>精锐五心师德</dt>
            <dd>
                <ul>
                    <li class="on3bg1"><p>循环渐进，有始有终 <br/> 以身作则，持之以恒</p></li>
                    <li class="on3bg2"><p>教书育人，为人师表 <br/> 明确目标，踏实执行</p></li>
                    <li class="on3bg3"><p>勇于探索，敢于实践 <br/> 及时总结，终身学习</p></li>
                    <li class="on3bg4"><p>关爱学生，严格要求 <br/> 良师益友，教学相长</p></li>
                    <li class="on3bg5"><p>质朴率真，风趣幽默 <br/> 赞赏激励，寓教于乐</p></li>
                </ul>
            </dd>
        </dl>

    </div>

</div>


<include file="Public/footer"/>