<include file="Public/Aboutheader"/>


<title>荣获奖项</title>

<h2 class="ntitle nc1">荣誉奖项</h2>
<div class="on4Main cen hd">
    <ul>
        <li>
            <img src="__PUBLIC__/images/jinyijiang.jpg"/>
            <p>2016年度具综合实力教育集团</p>
        </li>
        <li>
            <img src="__PUBLIC__/images/txhuixiang.jpg"/>
            <p>2016年度家长信赖教辅品牌称号</p>
        </li>

        <li class="nok">
            <img src="__PUBLIC__/images/sina2.jpg"/>
            <p>2016新浪五星金牌优秀教研团队奖</p>
        </li>


        <li>
            <img src="__PUBLIC__/images/sina.jpg"/>
            <p>2015中国品牌影响力教育集团</p>
        </li>
        <li>
            <img src="__PUBLIC__/images/tecent.jpg"/>
            <p>2015中国具竞争力教育品牌</p>
        </li>
        <li class="nok">
            <img src="__PUBLIC__/images/dianping.jpg"/>
            <p>2015年度十佳升学辅导培训机构</p>
        </li>


        <li>
            <img src="__PUBLIC__/images/on25.jpg"/>
            <p>2014年度具价值教育连锁机构</p>
        </li>
        <li>
            <img src="__PUBLIC__/images/on26.jpg"/>
            <p>2014京华教育盛典具影响力教育集团</p>
        </li>
        <li class="nok">
            <img src="__PUBLIC__/images/on27.jpg"/>
            <p>2012具影响力课外辅导机构</p>
        </li>
        <li>
            <img src="__PUBLIC__/images/on28.jpg"/>
            <p>2012中国具竞争力教育品牌<br/>
                2012中国十大教育辅导机构</p>
        </li>
        <li>
            <img src="__PUBLIC__/images/on29.jpg"/>
            <p>2012具口碑影响力课外辅导机构
                <br/>
                2013年度具品牌影响力课外辅导机构</p>
        </li>
        <li class="nok">
            <img src="__PUBLIC__/images/on30.jpg"/>
            <p>2012中国具竞争力教育品牌
                <br/>
                2012中国十大教育辅导机构</p>
        </li>
        <li>
            <img src="__PUBLIC__/images/on31.jpg"/>
            <p>2012具读者信赖的个性化辅导机构</p>
        </li>
        <li>
            <img src="__PUBLIC__/images/on32.jpg"/>
            <p>2012江苏地区优质教育培训品牌</p>
        </li>
        <li class="nok">
            <img src="__PUBLIC__/images/on33.jpg"/>
            <p>2012年度扬子晚报教育示范品牌</p>
        </li>
    </ul>

    <dl>
        <dt>
            <span>2016年 <i></i></span><b></b>
        </dt>
        <dd>
            <p><span>09月，</span>精锐教育集团荣获“2016新浪五星金牌教师·全国优秀教研团队”等殊荣。</p>
            <p><span>12月，</span>精锐教育集团荣获“回响中国”腾讯教育年度总评榜之“2016年度家长信赖教辅品牌”称号</p>
            <p><span>12月，</span>精锐教育集团荣获网易“金翼奖”之“2016年度具综合实力教育集团”称号</p>

        </dd>
    </dl>

    <dl>
        <dl>
            <dt>
                <span>2015年 <i></i></span><b></b>
            </dt>
            <dd>
                <p><span>11月，</span>精锐教育集团荣获2015新浪教育盛典“2015中国品牌影响力教育集团”大奖。</p>
                <p><span>12月，</span>回响中国”腾讯网教育年度总评榜荣耀盛典上，精锐教育荣获3项荣誉：实力教育品牌、用户口碑教辅品牌、优选儿童教育品牌。</p>
                <p><span>12月，</span>年度大众点评网“我喜爱的培训机构”评选大赛，精锐教育荣获2015年度十佳升学辅导培训机构”桂冠。</p>
            </dd>
        </dl>

        <dl>
            <dt>
                <span>2014年 <i></i></span><b></b>
            </dt>
            <dd>
                <p><span>11月，</span>由新浪教育频道主办的“2014中国教育盛典”在北京举行，精锐教育成功斩获新浪“2014年度具投资价值教育连锁机构”大奖。</p>
                <p><span>05月，</span>精锐教育集团在京华时报举办的“教育开启未来—2014京华教育盛典”中被评为“2014京华教育盛典具影响力教育集团”。</p>
            </dd>
        </dl>

        <dl>
            <dt>
                <span>2013年 <i></i></span><b></b>
            </dt>
            <dd>
                <p><span>09月，</span>精锐教育集团在2013新浪中小学课外教育五星金牌教师评选中获得“全国十大课外教育五星金牌机构”殊荣！精锐教育宋凯老师、牛晶老师、马家驹老师荣获 2013新浪五星金牌教师
                    称号！ </p>
            </dd>
        </dl>

        <dl>
            <dt>
                <span>2012年 <i></i></span><b></b>
            </dt>
            <dd>
                <p><span>01月，</span>精锐教育在北京日报、北京晚报主办的行业评比中获得"2011北京卓越教育集团 "。</p>
            </dd>
        </dl>


        <dl>
            <dt>
                <span>2011年 <i></i></span><b></b>
            </dt>
            <dd>
                <p><span>12月，</span> 精锐教育在新浪网主办的2011中国教育盛典中被评为" 2011具品牌影响力教育集团之一 "。</p>
                <p><span>12月，</span> 精锐教育在腾讯网、中国教育电视台、CCTV中学生、中国教育新闻网主办的2011回响中国腾讯网教育年度总评榜中被授予" 中国十大教育辅导机构 "。</p>
                <p><span>12月，</span> 精锐教育被京华时报评为"北京教育公信联盟2012理事单位"。</p>
                <p><span>12月，</span> 精锐教育被新京报评为"我信赖的课外辅导品牌"。</p>
                <p><span>12月，</span> 精锐教育被新民晚报评选为" 2011年受喜爱的教育培训机构 "。</p>
                <p><span>12月，</span> 北京精锐教育在北京青年报主办的教育行业评选中荣获" 2011年度金口碑课外辅导品牌教育机构 "。</p>
                <p><span>12月，</span> 精锐教育南京分公司在扬子晚报主办的行业评比中被评为" 2011年度扬子晚报教育示范品牌 "、" 2011年度具诚信力教育品牌 "、" 2012年度具影响力教育品牌"。
                </p>
                <p><span>12月，</span> 精锐教育南京分公司在南京晨报主办的2011年度江苏省"感动教育"评选中被评为" 优秀个性化教育品牌 "、" 杰出教育机构 "。</p>
                <p><span>12月，</span> 精锐教育南京分公司在金陵晚报社主办的金陵教育培训行业十年发展行业评选中荣获" 突出贡献奖 "。</p>
            </dd>
        </dl>

        <dl>
            <dt>
                <span>2010年 <i></i></span><b></b>
            </dt>
            <dd>
                <p><span>2月，</span> 精锐教育以优质的教学服务及深刻的品牌影响力，获得消费者的广泛认同，获得多家权威评测机构及专业媒体的广泛关注，荣登 " 单科辅导师资质量 "公众满意度金榜。</p>
            </dd>
        </dl>

        <dl>
            <dt>
                <span>2008年 <i></i></span><b></b>
            </dt>
            <dd>
                <p>精锐教育被评为改革开放30年" 中国十大品牌家教机构 "，并于2008年5月26日在首都北京举行了隆重的颁奖仪式。</p>
                <p>精锐教育在广州日报主办的行业评比中获得" 华南金质教育品牌 "殊荣。</p>
            </dd>
        </dl>

</div>


<include file="Public/footer"/>