<include file="Public/Aboutheader" />

<title>首页</title>

<div class="onsOne cen hd">
    <h2 class="ntitle nc1">关于精锐</h2>
    <div class="onsOneMain hd">
        <img src="__PUBLIC__/images/on1.jpg">
        <div class="onsOneTxt fr">
            <p>精锐教育由哈佛北大精英创立，致力于中小学学生的个性化培优教育。</p>
            <div class="youshi">
                创始人“学霸张”总结自己在哈佛北大的学霸经验，创新性推出“i精锐·学习力提升系统”，通过1对1及1对3优质教学服务，强调主动学习及多元互动，帮助学生提升学习力，掌握学霸的学习方法，轻松迎战中高考。
            </div>
        </div>
    </div>
</div>

<include file="Public/footer" />