<include file="Public/Aboutheader" />

<div class="onsOne cen hd">
    <h2 class="ntitle nc1">关于书味</h2>
    <div class="onsOneMain hd">
        <img src="__PUBLIC__/newImages/logo.jpg" style=" width: 154px; margin-top: 70px; margin-left: -16px;">
        <div class="onsOneTxt fr">
            <p>书味教育由高等师范院校精英创立，致力于中小学生的个性化辅导.</p>
            <div class="youshi">
                创始人季老师总结自己在江苏和上海的学习经验，提出“学习方法决定学习成绩”的理念，通过一对一和一对三的授课模式，指出热爱学习和学习方法提高成绩的模式，帮助学习困难的孩子找到门径，帮助学习优异的孩子学得更加优秀轻松，掌握学习方法，在中高考中能够脱颖而出。
            </div>
        </div>
    </div>

</div>


<div class="setHeight"></div>

<!--设置 底部填充颜色-->
<script>
    $('.setHeight').height('210');


</script>

<include file="Public/footer" />